<head>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>


<!-- <div class="col-md-2 hidden-sm hidden-xs">
  <nav class="sidenav">
    <div style="height:90px;">
      <img class="img-responsive img-rounded profile-image"
        src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
        alt="User picture">
     
      <strong style="color:white;position: absolute;left: 30%;">{{sharedata.startupprofile.startup_name}}</strong>
      <span style="color:white;position: absolute;left: 30%;top: 6%;"><strong>Mentors</strong></span>
      <span style="color:white;position: absolute;left: 30%;top: 10%;">{{Mentors}}</span>
    </div>
    <hr>
    <div style="height:90px;margin-left:4%">
      <strong style="color:lightgray">Bio</strong>
      <p style="color:darkgray">{{sharedata.startupprofile.description}}</p>
    </div>
    <hr>

    <div class="col-md-12">


      <a [ngClass]="menuname == 'profile' ? 'bganchor' : ''" role="button" routerLink="profile"
        (click)="menunames('profile')">Profile</a>
     
      <a [ngClass]="menuname == 'roadmap' ? 'bganchor' : ''" role="button" routerLink="road-map"
        (click)="menunames('roadmap')">RoadMap</a>
      <a [ngClass]="menuname == 'program-session' ? 'bganchor' : ''" role="button" routerLink="program-sessions"
        (click)="menunames('program-session')">Program Session</a>
      <a [ngClass]="menuname == 'activities' ? 'bganchor' : ''" role="button" routerLink="view-activities"
        (click)="menunames('activities')">Activities</a>
    </div>

  </nav>



</div>

<div id="mySidebar" class="col-md-2 sidebar hidden-lg hidden-md" [hidden]="mobilenav == false">
  <a class="closebtn" (click)="closeNav()">×</a>
  <div class="col-md-12">
    <div style="height:100px;">
      <img class="img-responsive img-rounded profile-image1"
        src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
        alt="User picture">
      

    </div>
    <div>
      <strong style="color:white;">{{sharedata.startupprofile.startup_name}}</strong><br>
      <span style="color:white;"><strong>Mentors</strong></span><br>
      <span style="color:white;">{{Mentors}}</span>
    </div>

    <strong>Menus</strong>
    <a [ngClass]="menuname == 'profile' ? 'bganchor' : ''" role="button" routerLink="profile"
      (click)="menunames('profile')">Profile</a>
    
    <a [ngClass]="menuname == 'roadmap' ? 'bganchor' : ''" role="button" routerLink="road-map"
      (click)="menunames('roadmap')">RoadMap</a>
    <a [ngClass]="menuname == 'program-session' ? 'bganchor' : ''" role="button" routerLink="program-sessions"
      (click)="menunames('program-session')">Program Session</a>
    <a [ngClass]="menuname == 'activities' ? 'bganchor' : ''" role="button" routerLink="view-activities"
      (click)="menunames('activities')">Activities</a>

  </div>
</div>

<div id="main" class="hidden-lg hidden-md" [hidden]="mobilenav == true">
  <button class="openbtn" (click)="openNav()"> <i class="glyphicon glyphicon-arrow-right"></i></button> <!-- ☰ -->


<!-- </div>
<div class="col-md-1"></div>
<div class="col-md-9 col-xs-12 co-sm-12">
  <router-outlet></router-outlet>
</div> -->


<div class="container">
  <div class="col-md-12">
    <div class="col-md-6">
      <br>
      <br>
      <div class="col-md-4" (click)="changedp()">
        <!-- <img class="img-responsive img-rounded" src="assets/avatar_2x.png"
          style="border-radius:50%;height:150px;width:150px;"> -->
        <div class="bg" style="margin-left: 5%;" >
          <img src="{{imgUrl}}" alt="" style="height:125px;width: 125px;">
          <div class="overlay">
            <h4>Edit Picture</h4>
            <p></p>
          </div>
        </div>
        <div style="display: none;">
            <input id="main_image" class="form-control" type="file" id="main_image" placeholder="main_image"
            name="main_image" type="file" accept="image/*" (change)="handleInputChange($event)" />
        </div>
      </div>
      <div class="col-md-3">
        <h4 class="startupnames">
          <strong>{{sharedata.startupprofile.startup_name}}</strong></h4>
      </div>
      <div class="col-md-3">

      </div>

    </div>
    <div class="col-md-6">
      <br>
      <br>
      <div class="col-md-12">
        <h4>Industry: {{sharedata.startupprofile.startup_registration.entity_type}}</h4>
      </div>
      <br>
      <div class="col-md-12">
        <h4>Size: {{sharedata.startupprofile.team_size}}</h4>
      </div>
      <br>
      <div class="col-md-12">
        <h4>Location: {{sharedata.startupprofile.startup_registration.startup_country}}</h4>
      </div>
      <br>
      <div class="col-md-12">
        <h4>Website: {{sharedata.startupprofile.startup_registration.website_url}}</h4>
      </div>
    </div>
  </div>
  <div class="col-md-12">

  </div>

  <div class="col-md-6" style="margin-left:2%;">
    <br>
    <div class="col-md-3">
      <button type="button" class="button" routerLink="profile">OverView</button>
    </div>
    <div class="col-md-3">
      <button type="button" class="button" routerLink="road-map">RoadMap</button>
    </div>
    <div class="col-md-3">
      <button type="button" class="button" routerLink="view-activities">Contents</button>
    </div>
    <div class="col-md-3">
      <button type="button" class="button" routerLink="status-updates">Updates</button>
    </div>



  </div>
  <div class="col-md-12 col-xs-12 co-sm-12">
    <router-outlet></router-outlet>
  </div>
</div>