<head>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>


<!-- <div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" >
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper"  style="cursor:pointer">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a>pro sidebar</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">
            <strong>{{sharedata.startupprofile.startup_name}}</strong>
          </span>
          <span class="user-role">Mentors</span>
          <span class="user-status">

            <span>{{Mentors}}</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
<!--  <div class="sidebar-menu">
        <div>
          <ul>
            <li class="header-menu">
              <span>Bio</span>
              <div>
                  <span>{{sharedata.startupprofile.description}}</span>
              </div>
              
            </li>
          </ul>
        </div>
      </div>
      <!-- sidebar-search  -->
<!--<div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>Menus</span>
          </li>
          <li class="active">
            <a routerLink="profile">
              <i class="fa fa-tachometer-alt"></i>
              <span>Profile</span>
              <!-- <span class="badge badge-pill badge-warning">New</span> -->
<!--   </a>
            
          </li>
          <li class="">
            <a >
              <i class="fa fa-shopping-cart"></i>
              <span>Programs</span>
              
            </a>
            
          </li>
          <li class="">
              <a routerLink="road-map">
                <i class="fa fa-shopping-cart"></i>
                <span>Road Map</span>
               
              </a>
              
            </li>
          
        </ul>
      </div>
      <!-- sidebar-menu  -->
<!-- </div>
    <!-- sidebar-content  -->
<!-- <div class="sidebar-footer">
        <a >
          <i class="fa fa-bell"></i>
          <span class="badge badge-pill badge-warning notification">3</span>
        </a>
        <a >
          <i class="fa fa-envelope"></i>
          <span class="badge badge-pill badge-success notification">7</span>
        </a>
        <a >
          <i class="fa fa-cog"></i>
          <span class="badge-sonar"></span>
        </a>
        <a >
          <i class="fa fa-power-off"></i>
        </a>
      </div> -->
<!--  </nav>
  <!-- sidebar-wrapper  -->
<!--<div class="col-md-12">
      
    

  </div> -->
<!-- page-content" -->
<!--</div> -->





<!--<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="col-md-6">
          <img src="{{companylogo}}" style="height:100px;width: 125px;">
        </div>
        <div class="col-md-6">
          <span>{{CompanyName}}</span><br>
          <label>Mentor(s):</label><br>
          {{Mentors}}

        </div>
       <!-- <div class="col-md-12">
          <button class="btn btn-primary pull-left">View RoadMap</button>
        </div> -->
<!-- <div class="col-md-12">
          <h4 style="text-decoration:underline">Bio</h4>
          <p>{{bio}}</p>
        </div> -->
<!--<div class="col-md-12">
          <h4 style="text-decoration:underline">Financials</h4>
          <div class="col-md-12">
            <table class="table table-bordered table-responsive">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Nickname</th>
                  <th>Employee</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Arun</td>
                  <td>28</td>
                  <td>Arun</td>
                  <td>true</td>
                </tr>

              </tbody>
            </table>
          </div>

        </div> -->
<!--
      </div>
      <div class="col-md-8">
        
      </div>
    </div>
  </div>
</div>  -->




<div class="col-md-2">
  <nav class="sidenav">
    <div style="height:90px;">
      <img class="img-responsive img-rounded profile-image" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
        alt="User picture">
      <!-- <strong>{{sharedata.startupprofile.startup_name}}</strong>-->
      <strong style="color:white;position: absolute;left: 30%;">{{sharedata.startupprofile.startup_name}}</strong>
      <span style="color:white;position: absolute;left: 30%;top: 11%;"><strong>Mentors</strong></span>
      <span style="color:white;position: absolute;left: 30%;top: 17%;">{{Mentors}}</span>
    </div>
    <div class="col-md-12" style="height:100px;">
      <strong style="color:white">Bio</strong>
      <p>{{sharedata.startupprofile.description}}</p>
    </div>

    <div class="col-md-12">
      <strong>Menus</strong>
      <a routerLink="profile">Profile</a>
      <a routerLink="programs">Programs</a>
      <a routerLink="road-map">RoadMap</a>
      
    </div>

  </nav>
</div>
<div class="col-md-1"></div>
<div class="col-md-9">
  <router-outlet></router-outlet>
</div>