.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #222;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav1 {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #222;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  text-align: justify;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1 !important;
  font-weight: bold;
  background-color: gray;
  border-radius: 16px;

}

.profile-image{
  width: 60px;
    height: 60px;
    position: absolute;
    left: 4%;
}
.profile-image1{
  width: 100px;
    height: 100px;
    position: absolute;
    left: 4%;
}
.bganchor{
  background-color: green;
  color: #f1f1f1 !important;
  border-radius: 16px;
}


 

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index:5;
  top: 7%;
  left: 0;
 
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar1 {
  
  background-color: #222;
  
}

#mySidebar a{
  font-size: medium !important;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


.bg, .overlay {
  text-align: center;
}
img, .overlay {
  transition: 0.3s all;
  border-radius: 3px;
}
.bg {
  float: left;
  max-width: 31%;
  position: relative;
  margin: 0.5%;
}
.bg img {
  width: 100%;
  margin-bottom: -4px;
  border-radius: 50%;
  border: 1px solid
}
@media screen and (max-width:575.8px){
  .bg .overlay {
    position: absolute;
    top: 0;
    left: 6;
    bottom: 0;
    width: 95%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 0;
  }
  .startupnames{
    text-align: center;
  }
}
@media screen and (min-width:580px){
  .bg .overlay {
    position: absolute;
    top: 0;
    left: 6;
    bottom: 0;
    width: 280%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 0;
  }
  .startupnames{
    text-align: left;
  }
}
.bg .overlay h2 {
 
  font-family: 'Droid Serif', serif;
}
.bg .overlay p {
  font-family: 'Julius Sans One', sans-serif;
}
.bg:hover .overlay {
  opacity: 1;
}
.bg:hover img {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
@media screen and (max-width: 1148px) {
  .bg {
    max-width: 48%;
    margin: 1%;
  }
}
@media screen and (max-width: 768px) {
  .bg {
    float: none;
    max-width: 80%;
    margin: 1% auto;
  }
}



