<div class="container">
  <div class="container-fluid">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <h3 style="text-align:center">Reset Password</h3>
      <form [formGroup]="resetpwd">
        
       
        <label>New Password</label>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="New Password" formControlName="newpassword"  name="newpassword" ngModel>
        </div>
        <label>Confirm Password</label>
        <div class="form-group ">
          <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmpassword"  ngModel name="confirmpassword">
        </div>
        <div>
          <button class="btn btn-default" [disabled]="!resetpwd.valid" (click)="changepwd(resetpwd)">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>