<div *ngIf="editable == false">
  <div class="row" *ngIf="startup">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-12">
          <h4 class="page-heading">Startup Info</h4>
          <div class="col-md-4"><label>Startup Name:</label>
            {{startup.startup_name}}
          </div>
          <div class="col-md-4"><label>Founded date:</label>
            {{startup.founded_date}}
          </div>
          <div class="col-md-4"><label>Entity type:</label>
            {{startup.entity_type}}
          </div>
          <div class="col-md-4"><label>Company website:</label>
            {{startup.website_url}}
          </div>
        </div>
        <div class="col-md-12">
          <h4 class="page-heading">Application Status</h4>
          <div class="col-md-4"><label>Application status:</label>
            {{startup.application_status}}
          </div>
          <div class="col-md-4"><label>Status Description:</label>
            {{startup.app_status_description}}
          </div>
        </div>
        <div class="col-md-12">
          <h4 class="page-heading">Founder info:</h4>
          <div class="col-md-4"><label>Founder Name:</label>
            {{startup.founder_name}}
          </div>
          <div class="col-md-4"><label>Email:</label>
            {{startup.founder_email}}
          </div>
          <div class="col-md-4"><label>Contact number:</label>
            {{startup.founder_phone_number}}
          </div>
          <div class="col-md-4"><label>Skills</label>
            {{startup.founder_skills}}
          </div>
          <div class="col-md-4"><label>Commitment</label>
            {{startup.founder_commitment}}
          </div>
          <div class="col-md-4"><label>Experience</label>
            {{startup.founder_experience}}
          </div>
          <div class="col-md-4"><label>Credentials</label>
            {{startup.founder_credentials}}
          </div>
        </div>
        <div class="col-md-12">
          <h4 class="page-heading">Startup Address:</h4>
          <div class="col-md-4"><label>Startup address line 1</label>
            {{startup.startup_address_line_1}}

          </div>
          <div class="col-md-4"><label>Startup address line 2</label>
            {{startup.startup_address_line_2}}

          </div>
          <div class="col-md-4"><label>Startup city</label>
            {{startup.startup_city}}

          </div>
          <div class="col-md-4"><label>Startup state province region</label>
            {{startup.startup_state_province_region}}

          </div>
          <div class="col-md-4"><label>Startup country</label>
            {{startup.startup_country}}

          </div>
          <div class="col-md-4"><label>Startup zip pincode postalcode</label>
            {{startup.startup_zip_pincode_postalcode}}

          </div>


        </div>
      </div>
    </div>
  </div>


  <div class="row" *ngIf="contractdetails">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-12">
          <h4 class="page-heading">Contract Details</h4>
          <div class="col-md-4"><label>Contract Id:</label>
            {{contractdetails.contract_id}}
          </div>
          <div class="col-md-4"><label>Duration:</label>
            {{contractdetails.duration}}
          </div>
          <div class="col-md-4"><label>isActive:</label>
            {{contractdetails.isActive}}
          </div>
          <div class="col-md-4"><label>Contract Signed:</label>
            {{contractdetails.contract_signed}}
          </div>
        </div>
        <div class="col-md-12">
          <h4 class="page-heading">From</h4>
          <div class="col-md-4"><label>Name:</label>
            {{contractdetails.p_1_name}}
          </div>
          <div class="col-md-4"><label>Email:</label>
            {{contractdetails.p_1_email}}
          </div>
          <div class="col-md-4"><label>Address:</label>
            {{contractdetails.p_1_address}}
          </div>
          <div class="col-md-4"><label></label>
            {{contractdetails.p_1_phone_number}}
          </div>
        </div>
        <div class="col-md-12">
          <h4 class="page-heading">To</h4>
          <div class="col-md-4"><label>Name:</label>
            {{contractdetails.p_2_name}}
          </div>
          <div class="col-md-4"><label>Email:</label>
            {{contractdetails.p_2_email}}
          </div>
          <div class="col-md-4"><label>Address:</label>
            {{contractdetails.p_2_address}}
          </div>
          <div class="col-md-4"><label></label>
            {{contractdetails.p_2_phone_number}}
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-default" (click)="setupdate()">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="editable == true">
  <div class="row" *ngIf="startup">
    <div class="panel panel-default">
        <div class="panel-body">
            <form #form="ngForm" (ngSubmit)="onSubmitReview(form)">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4>Startup Ignite Contract form</h4>
                    </div>
                    <div class="col-md-12 pull-left">
                        <p>Place: chennai</p>
                        <p>Date: today</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>From,</label>
                        <input type="text" class="form-control" name="p_1_name" [(ngModel)]="contractdetails.p_1_name" />
                        <textarea type="text" class="form-control" name="p_1_address" [(ngModel)]="contractdetails.p_1_address" ></textarea>
                        <input type="text" class="form-control" name="p_1_phone_number" [(ngModel)]="contractdetails.p_1_phone_number" />
                        <input type="text" class="form-control" name="p_1_email" [(ngModel)]="contractdetails.p_1_email" />                        
                    </div>
                    <div class="col-md-6">
                        <label>To,</label>
                        <input type="text" class="form-control" name="p_2_name" [(ngModel)]="contractdetails.p_2_name" />
                        <textarea type="text" class="form-control" name="p_2_address" [(ngModel)]="contractdetails.p_2_address" ></textarea>
                        <input type="text" class="form-control" name="p_2_phone_number" [(ngModel)]="contractdetails.p_2_phone_number" />
                        <input type="text" class="form-control" name="p_2_email" [(ngModel)]="contractdetails.p_2_email" /> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Contract from date</label>
                        <input class="form-control" name="from_date" ngModel type="date">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Contract to date</label>
                        <input class="form-control" name="to_date" ngModel type="date">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Contract duration in month</label>
                        <input class="form-control" name="duration" ngModel type="number">
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="sel1">Select additional information:</label>
                            <select class="form-control" id="sel1" name="additional_contract_information_id" [(ngModel)]="contractdetails.additional_contract_information_id" (change)="onChangeInfo($event)">
                                <option></option>
                                <option value="{{add_info.id}}" *ngFor="let add_info of addContractInfo ">{{add_info.id}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="selected_add_info">
                        <input type="hidden" class="form-control" name="additional_contract_information_id" [(ngModel)]="contractdetails.additional_contract_information_id" /> 
                    <div class="col-md-12">
                        <label>Purpose Of Contract</label>
                        <p>{{selected_add_info.purpose_of_contract}}</p>
                    </div>
                    <div class="col-md-12">
                        <label>Authorization</label>
                        <p>{{selected_add_info.authorization}}</p>                        
                    </div>
                    <div class="col-md-12">
                        <label>Contract terms condition</label>
                        <p>{{selected_add_info.contract_terms_condition}}</p>
                    </div>
                    <div class="col-md-12">
                        <label>Contract termination</label>
                        <p>{{selected_add_info.contract_termination}}</p>                        
                    </div>
                </div>
                <div class="row text-center">
                    <input type="hidden" class="form-control" name="id" [(ngModel)]="contractdetails.id" />
                        <input type="hidden" class="form-control" name="program_id" [(ngModel)]="contractdetails.program_id" />
                        <input type="hidden" class="form-control" name="startup_registration_id" [(ngModel)]="startup.id" />
                    <button class="btn btn-default" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>