.shape1{
    border: 2px solid lightblue;
    background-color: lightblue ;
    color: blue;
    padding: 10px;
    border-top-right-radius: 90%;
    border-bottom-right-radius: 90%;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px; 
}

.slidecontainer1 {
    width: 100%;
    transform: rotate(270deg);
    height:100%;
    position: absolute;
  }
  .slidecontainer {
    width: 100%;
    
  }
  .h2{
    font-size: 17px !important;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 90%;
    height: 20px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;  
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 25px solid #555;
   
    
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }




 
  .container {
    width: 85vw;
    margin: 1rem auto;
  }
  .bg, .overlay {
    text-align: center;
  }
  img, .overlay {
    transition: 0.3s all;
    border-radius: 3px;
  }
  .bg {
    float: left;
    max-width: 31%;
    position: relative;
    margin: 0.5%;
  }
  .bg img {
    width: 100%;
    margin-bottom: -4px;
  }
  .bg .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 0;
  }
  .bg .overlay h2 {
    padding-top: 20%;
    font-family: 'Droid Serif', serif;
  }
  .bg .overlay p {
    font-family: 'Julius Sans One', sans-serif;
  }
  .bg:hover .overlay {
    opacity: 1;
  }
  .bg:hover img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  @media screen and (max-width: 1148px) {
    .bg {
      max-width: 48%;
      margin: 1%;
    }
  }
  @media screen and (max-width: 768px) {
    .bg {
      float: none;
      max-width: 80%;
      margin: 1% auto;
    }
  }


  .tag {
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block;
    color: #111;
    position: relative;
    padding: 10px 35px 10px 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /* margin: 0 40px 20px 0; */
    text-decoration: none;
    -webkit-transition: right 0.2s ease-in;
    -moz-transition: right 0.2s ease-in;
    -ms-transition: right 0.2s ease-in;
    background:rgb(13, 171, 149);
    z-index: 1;
    }
    .tag1 {
      font-family: Helvetica, Arial, sans-serif;
      display: inline-block;
      color: #111;
      position: relative;
      padding: 10px 18px 10px 10px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      /* margin: 0 40px 20px 0; */
      text-decoration: none;
      -webkit-transition: right 0.2s ease-in;
      -moz-transition: right 0.2s ease-in;
      -ms-transition: right 0.2s ease-in;
      background:rgb(13, 171, 149);
      z-index: 1;
      }
    .tag:before {
    content: "";
    display: inline-block;
    border-radius: 20px;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.2);
    margin: 0 5px 0 0;
    }
    .tag:after {
    content: "";
    border-radius: 5px;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 5px 40px rgba(255,255,255,0.4), 0px 0px 10px rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    }
    .tag .arrow {
    display: inline-block;
    border: 30px solid;
    border-color: #fff #fff #fff transparent;
    height: 2px;
    z-index: 5000;
    pointer-events: none;
    position: absolute;
    -webkit-transition: right 0.2s ease-in;
    right: -20px;
    top: -12px;
    display: inline-block;
    }
    .tag:hover {
    position: relative;
    right: 8px;
    }
    .tag:hover .arrow {
    right: -28px;
    }
    .tag:hover:after {
    box-shadow: inset 0px -5px 30px rgba(255,255,255,0.4), 0px 0px 5px rgba(0,0,0,0.2);
    }
    .tag:active:after {
    box-shadow: inset 0px 0px 30px rgba(0,0,0,0.3), 0px 0px 5px rgba(0,0,0,0.2);
    }



    .tag1:before {
      content: "";
      display: inline-block;
      border-radius: 20px;
      box-shadow: inset 0px 2px 5px rgba(0,0,0,0.2);
      margin: 0 5px 0 0;
      }
      .tag1:after {
      content: "";
      border-radius: 5px;
      width: 100%;
      height: 100%;
      box-shadow: inset 0px 5px 40px rgba(255,255,255,0.4), 0px 0px 10px rgba(0,0,0,0.3);
      position: absolute;
      left: 0;
      top: 0;
      }
      .tag1 .arrow {
      display: inline-block;
      border: 30px solid;
      border-color: #fff #fff #fff transparent;
      height: 2px;
      z-index: 5000;
      pointer-events: none;
      position: absolute;
      -webkit-transition: right 0.2s ease-in;
      right: -20px;
      top: -12px;
      display: inline-block;
      }
      .tag1:hover {
      position: relative;
      right: 8px;
      }
      .tag1:hover .arrow {
      right: -28px;
      }
      .tag1:hover:after {
      box-shadow: inset 0px -5px 30px rgba(255,255,255,0.4), 0px 0px 5px rgba(0,0,0,0.2);
      }
      .tag1:active:after {
      box-shadow: inset 0px 0px 30px rgba(0,0,0,0.3), 0px 0px 5px rgba(0,0,0,0.2);
      }

      .circle2{
        position: absolute;
        width: 68px;
        height: 64px;
        border-radius: 100%;
        background-color:#7cccf9;
        overflow: hidden;
        border-color: lightblue;
        /* border:4px solid; */
        font-weight: 600;
        font-size: 320%;
        color: white;
        bottom: 100%;
        right: 160px;
      }
   