<div class="col-md-12">
    <h3 style="text-align: center">About {{startupdata.startup_name}}</h3>
    <br>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 style="text-decoration:underline;text-align: center">Program Progress</h3><br>
        <!-- <div style="text-align:center"> -->
        <div class="col-md-12">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a href="#" class="tag">
                    <span class="arrow"></span>
                    Profile Created
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a href="#" class="tag1">
                    <span class="arrow"></span>
                    RoadMap Drafted
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a href="#" class="tag" style="padding: 1px 35px 0px 33px !important;">
                    <span class="arrow"></span>
                    Courses OnProgress
                </a> </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a href="#" class="tag">
                    <span class="arrow"></span>
                    Completed
                </a> </div>

            <!-- </div> -->
            <!-- <div class="col-md-1"></div>
      <div class="shape1 col-md-2">Cimplete</div>
      <div class="col-md-1"></div>
      <div class="shape1 col-md-2">InComplete</div> -->
            <div class="col-md-12">
                <br>
                <div class="slidecontainer" style="margin-bottom: 25px;">
                    <input disabled type="range" min="1" max="100" value="{{slidervalue}}" class="slider" id="myRange">

                </div>
            </div>
        </div>


        <!-- </div> -->
    </div>
    <div class="col-md-12">
        <h4 class="page-heading" style="text-decoration:underline;text-align: center">Users</h4>
        <div class="bg" style="border:1px solid;height: 130px;" *ngFor="let item of startupdata.users;let i= index">
            <img src="assets/avatar_2x.png" alt="" style="height:125px;width: 150px;">
            <div class="overlay">
                <h4>{{item.full_name}}</h4>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3 style="text-decoration:underline;text-align: center">Current State</h3><br>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <h4 class="page-heading"></h4>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>REVENUE</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.revenue}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>TRACTION</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.traction}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>SOLUTION READINESS</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.solution_readiness}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>INVESTMENT</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.investment}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>TEAM VELOCITY</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.team_velocity}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>PARTNERS</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.partners}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>VENDORS</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.vendors}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>VENDORS COSTS</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.vendors_costs}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>EXPERIMENT TESTING</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.experiment_testing}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>CUSTOMER SEGMENT</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.customer_segment}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>PROBLEM VALIDATION</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.problem_validation}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>CHANNELS</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.channels}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>GOVERNANCE</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.governance}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>ADMIN FEEDBACK</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.reviewer_feedback}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>ADMIN RATING</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.reviewer_rating}}
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3 style="text-decoration:underline;text-align: center">Startup Details</h3><br>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <h4 class="page-heading">Company info</h4>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>STARTUP NAME</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.startup_name}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>FOUNDED DATE</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.founded_date}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>ENTITY TYPE</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.entity_type}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>COMPANY WEBSITE</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.website_url}}
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4 class="page-heading">Application Status</h4>

                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>APPLICATION STATUS</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.application_status}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>STATUS DESCRIPTION</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.app_status_description}}
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <h4 class="page-heading">Founder info</h4>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>FOUNDER NAME</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.founder_name}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>EMAIL</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.founder_email}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>CONTACT NUMBER</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.founder_phone_number}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>SKILLS</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.founder_skills}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>COMMITMENT</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.founder_commitment}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>EXPERIENCE</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.founder_experience}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>CREDENTIALS</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.founder_credentials}}
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <h4 class="page-heading">Startup Address</h4>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>ADDRESS LINE 1</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.startup_address_line_1}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>ADDRESS LINE 2</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.startup_address_line_2}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>CITY</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.startup_city}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>STATE</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.startup_state_province_region}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>COUNTRY</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.startup_country}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>ZIP / PINCODE</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.startup_zip_pincode_postalcode}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="col-md-12">
      <h3 style="text-decoration:underline;text-align: center">Program Progress</h3><br>
      <div style="text-align:center">
        <div class="shape1 col-md-2">Complete</div>
        <div class="col-md-1"></div>
        <div class="shape1 col-md-2">Cimplete</div>
        <div class="col-md-1"></div>
        <div class="shape1 col-md-2">InComplete</div>
        <div class="col-md-12">
          <br>
          <div class="slidecontainer">
            <input type="range" min="1" max="100" value="0" class="slider" id="myRange">

          </div>
        </div>
      </div>

    </div> -->


</div>