<div class="col-md-12">

    <br>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 style="text-decoration:underline;text-align: center">Program Progress</h3><br>
        <!-- <div style="text-align:center"> -->
        <div class="col-md-12">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a href="#" class="tag">
                    <span class="arrow"></span>
                    Profile Created
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a href="#" class="tag1">
                    <span class="arrow"></span>
                    RoadMap Drafted
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a href="#" class="tag">
                    <span class="arrow"></span>
                    Courses OnProgress
                </a> </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a href="#" class="tag">
                    <span class="arrow"></span>
                    Completed
                </a> </div>

            <!-- </div> -->
            <!-- <div class="col-md-1"></div>
      <div class="shape1 col-md-2">Cimplete</div>
      <div class="col-md-1"></div>
      <div class="shape1 col-md-2">InComplete</div> -->
            <div class="col-md-12">
                <br>
                <div class="slidecontainer" style="margin-bottom: 25px;">
                    <input disabled type="range" min="1" max="100" value="{{slidervalue}}" class="slider" id="myRange">

                </div>
            </div>
        </div>


        <!-- </div> -->
    </div>
    <div class="col-md-12"
        *ngIf="startup.application_status == 'RMD' ||startup.application_status == 'VDC' || startup.application_status == 'VDCC'">
        <h3 style="text-decoration:underline;text-align: center">Courses & Activities</h3><br>
        <div *ngIf="courses.length >0">
            <div class="row">
                <button class="btn btn-success pull-right" type="button" (click)="assigncourses()">Assign
                    Courses</button>
            </div>
            <div class="panel panel-default" *ngFor="let course of courses;let i = index"
                style="border:1px solid;border-color:black" [ngStyle]="{'background': [course.color]}">
                <div class="panel-body">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="col-md-1 col-xs-12 col-sm-12">
                            <input class="checkbox" type="checkbox" (change)="setvalues($event.target.checked,course)">
                        </div>
                        <div class="col-md-4">
                            <span><strong>Course</strong></span><br>
                            <span style="font-size: 20px;" [innerHTML]="course.title"></span>
                            <span><strong>Activities</strong></span><br>
                            <h5 style="font-size:15px !important;" *ngFor="let ac of course.activities;let i = index">
                                <span [ngStyle]="{'color': ac.admin_responsed? 'green':'red'}"
                                    [innerHTML]="ac.name"></span></h5>
                            <!-- <h5 >{{course.description}}</h5> -->
                        </div>
                        <div class="col-md-7">
                            <div class="col-md-6">
                                <span><strong>Pass Metrics</strong></span><br>
                                <span>{{course.pass_metric}},</span>
                            </div>
                            <div class="col-md-6">
                                <span><strong>CheckList</strong></span>
                                <div *ngFor="let act of course.checklists">

                                    <span [ngStyle]="{'color': act.is_passed? 'green':'red'}">{{act.name}}</span>

                                </div>




                            </div>

                        </div>


                    </div>
                    <div class="col-md-12">
                        <form>
                            <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                <label>Target Date</label>
                                <input class="form-control" type="date" name="target_date"
                                    [(ngModel)]="course.target_date">
                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <!-- <button *ngIf="course.is_assigned == false" class="btn btn-primary btn-sm pull-right"
                                (click)="viewMaterials(course)" routerLink="/admin/dashboard/assign-activities/view-materials">View
                                Materials</button>
                              <button *ngIf="course.is_assigned == true" class="btn btn-primary btn-sm pull-right"
                                (click)="viewMaterials(course)" routerLink="/admin/dashboard/review-activities/view-materials">Review
                                Materials</button>
                                <button *ngIf="course.ex_date && course.all_activity_responsed == true" class="btn btn-danger btn-sm pull-right" (click)="sendRemainder(course)"
                               >Send Remainder
                                </button> -->
                                <div class="btn-group">
                                    <button *ngIf="course.is_assigned == false" class="btn btn-primary btn-sm"
                                        (click)="viewMaterials(course)"
                                        routerLink="/admin/dashboard/assign-activities/view-materials">View
                                        Materials</button>
                                    <button *ngIf="course.is_assigned == true" class="btn btn-primary btn-sm"
                                        (click)="viewMaterials(course)"
                                        routerLink="/admin/dashboard/review-activities/view-materials">Review
                                        Materials</button>
                                    <button
                                        *ngIf="course.ex_date && course.all_activity_responsed == true && course.target_date"
                                        class="btn btn-danger btn-sm" (click)="sendRemainder(course)">Send
                                        Remainder</button>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12 col-sm-12 alert alert-danger"
                                *ngIf="course.is_assigned == true && course.course_passed == false">
                                <p>This Course is already assigned to this startup</p>
                            </div>
                            <div class="col-md-12 col-xs-12 col-sm-12 alert alert-success"
                                *ngIf="course.is_assigned == true  && course.course_passed == true">
                                <p>Course Completed</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12" *ngIf="roadmap != null">
        <div class="col-md-12 text-center">
            <h1>Road Map</h1>
        </div>
        <div class="col-md-12" style="background: #b7cdf8;margin-bottom: 30px;">
            <div class="colo-md-12 text-center">
                <h3 style="color:grey">Main Goal</h3>
                <h4><strong>{{roadmap.goal}}</strong></h4>
                <hr>
                <label style="color:grey">Goal description</label>
                <h5>{{roadmap.description}}</h5>
                <hr>
                <label style="color:grey">Goal strategy</label>
                <p>{{roadmap.strategy}}</p>
            </div>
        </div>
        <div class="col-md-12" style="width:100%;position: relative;">
            <hr style="border: 10px solid #9696c3;">
        </div>
        <div class="col-md-4 col-sm-4 text-center" *ngFor="let item of roadmap.milestones;let i = index">
            <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 circle2">{{i + 1}}</div>
            <div class="col-md-12 col-sm-12" style="background: #c4aedd;position:static;">
                <p style="font-size: 15px;">#{{i + 1}} {{item.month}} month target</p>
                <div class="colo-md-12 col-sm-12">
                    <label style="color:grey">Milestone name</label>
                    <h3><strong>{{item.name}}</strong></h3>
                    <hr>
                    <label style="color:grey">Milestone description</label>
                    <h4>{{item.description}}</h4>
                    <hr>
                    <label style="color:grey">Milestone metric</label>
                    <p>{{item.metric}}</p>
                    <hr>
                    <div *ngFor="let resource of item.resources; let i = index">
                        <label style="color:grey">#{{i + 1}} Resource requested</label>
                        <p><strong>Resource type: </strong>{{resource.resource_type}}</p>
                        <p><strong>Resource Count: </strong>{{resource.no_of_resource}}</p>
                        <p><strong>Date needed: </strong>{{resource.date_needed}}</p>
                        <p><strong>Hours needed: </strong>{{resource.hours_needed}}</p>
                        <p><strong>Payment mode: </strong>{{resource.payment_mode}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h4 class="page-heading" style="text-decoration:underline;text-align: center">Users</h4>
        <div class="bg" style="border:1px solid;height: 130px;" *ngFor="let item of startupdata.users;let i= index">
            <img src="assets/avatar_2x.png" alt="" style="height:125px;width: 150px;">
            <div class="overlay">
                <h4>{{item.full_name}}</h4>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3 style="text-decoration:underline;text-align: center">Current State</h3><br>
        <div class="panel panel-default hidden-sm hidden-xs">
            <div class="panel-body">
                <div class="col-md-12">
                    <h4 class="page-heading"></h4>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>REVENUE</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.revenue}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>TRACTION</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.traction}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>SOLUTION READINESS</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.solution_readiness}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>INVESTMENT</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.investment}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>TEAM VELOCITY</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.team_velocity}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>PARTNERS</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.partners}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>VENDORS</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.vendors}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>VENDORS COSTS</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.vendors_costs}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>EXPERIMENT TESTING</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.experiment_testing}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>CUSTOMER SEGMENT</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.customer_segment}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>PROBLEM VALIDATION</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.problem_validation}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>CHANNELS</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.channels}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>GOVERNANCE</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.governance}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>ADMIN FEEDBACK</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.reviewer_feedback}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>ADMIN RATING</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{currentstateform.reviewer_rating}}
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-12 hidden-md hidden-lg">
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>REVENUE</td>
                        <td>{{currentstateform.revenue}}</td>
                    </tr>
                    <tr>
                        <td>TRACTION</td>
                        <td>{{currentstateform.traction}}</td>
                    </tr>
                    <tr>
                        <td>SOLUTION READINESS</td>
                        <td>{{currentstateform.solution_readiness}}</td>
                    </tr>
                    <tr>
                        <td>INVESTMENT</td>
                        <td>{{currentstateform.investment}}</td>
                    </tr>
                    <tr>
                        <td>TEAM VELOCITY</td>
                        <td>{{currentstateform.team_velocity}}</td>
                    </tr>
                    <tr>
                        <td>PARTNERS</td>
                        <td>{{currentstateform.partners}}</td>
                    </tr>
                    <tr>
                        <td>VENDORS</td>
                        <td>{{currentstateform.vendors}}</td>
                    </tr>
                    <tr>
                        <td>VENDOR COSTS</td>
                        <td>{{currentstateform.vendors_costs}}</td>
                    </tr>
                    <tr>
                        <td>EXPERIMENT TESTING</td>
                        <td>{{currentstateform.experiment_testing}}</td>
                    </tr>
                    <tr>
                        <td>CUSTOMER SEGMENT</td>
                        <td>{{currentstateform.customer_segment}}</td>
                    </tr>
                    <tr>
                        <td>PROBLEM VALIDATION</td>
                        <td>{{currentstateform.problem_validation}}</td>
                    </tr>
                    <tr>
                        <td>CHANNELS</td>
                        <td>{{currentstateform.channels}}</td>
                    </tr>
                    <tr>
                        <td>GOVERNANCE</td>
                        <td>{{currentstateform.governance}}</td>
                    </tr>
                    <tr>
                        <td>ADMIN FEEDBACK</td>
                        <td>{{currentstateform.reviewer_feedback}}</td>
                    </tr>
                    <tr>
                        <td>CUSTOMER RATING</td>
                        <td>{{currentstateform.reviewer_rating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12">
        <h3 style="text-decoration:underline;text-align: center">Startup Details</h3><br>
        <div class="panel panel-default hidden-sm hidden-xs">
            <div class="panel-body">
                <div class="col-md-12">
                    <h4 class="page-heading">Company info</h4>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>STARTUP NAME</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.startup_name}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>FOUNDED DATE</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.founded_date}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>ENTITY TYPE</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.entity_type}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>COMPANY WEBSITE</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.website_url}}
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4 class="page-heading">Application Status</h4>

                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>APPLICATION STATUS</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.application_status}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>STATUS DESCRIPTION</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.app_status_description}}
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <h4 class="page-heading">Founder info</h4>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>FOUNDER NAME</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.founder_name}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>EMAIL</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.founder_email}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>CONTACT NUMBER</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.founder_phone_number}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>SKILLS</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.founder_skills}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>COMMITMENT</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.founder_commitment}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>EXPERIENCE</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.founder_experience}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>CREDENTIALS</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.founder_credentials}}
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <h4 class="page-heading">Startup Address</h4>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>ADDRESS LINE 1</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.startup_address_line_1}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>ADDRESS LINE 2</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.startup_address_line_2}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>CITY</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.startup_city}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>STATE</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.startup_state_province_region}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>COUNTRY</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.startup_country}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>ZIP / PINCODE</label>
                        </div>
                        <div class="col-md-1">
                            <label><i class="glyphicon glyphicon-chevron-left"></i></label>
                        </div>
                        <div class="col-md-8">
                            {{startup.startup_zip_pincode_postalcode}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hidden-lg hidden-md">
            <table class="table table-bordered">

                <tbody>
                    <tr style="font-weight:bold">Company Info</tr>
                    <tr>
                        <td>STARTUP NAME</td>
                        <td>{{startup.startup_name}}</td>
                    </tr>
                    <tr>
                        <td>FOUNDED DATE</td>
                        <td>{{startup.founded_date}}</td>
                    </tr>
                    <tr>
                        <td>ENTITY TYPE</td>
                        <td>{{startup.entity_type}}</td>
                    </tr>
                    <tr>
                        <td>COMPANY WEBSITE</td>
                        <td>{{startup.website_url}}</td>
                    </tr>
                    <tr style="font-weight:bold">Application status</tr>
                    <tr>
                        <td>APPLICATION STATUS</td>
                        <td>{{startup.application_status}}</td>
                    </tr>
                    <tr>
                        <td>STATUS DESCRIPTION</td>
                        <td>{{startup.app_status_description}}</td>
                    </tr>
                    <tr style="font-weight:bold">Founder info</tr>
                    <tr>
                        <td>FOUNDER NAME</td>
                        <td>{{startup.founder_name}}</td>
                    </tr>
                    <tr>
                        <td>EMAIL</td>
                        <td>{{startup.founder_email}}</td>
                    </tr>
                    <tr>
                        <td>CONTACT NUMBER</td>
                        <td>{{startup.founder_phone_number}}</td>
                    </tr>
                    <tr>
                        <td>SKILLS</td>
                        <td>{{startup.founder_skills}}</td>
                    </tr>
                    <tr>
                        <td>COMMITMENT</td>
                        <td>{{startup.founder_commitment}}</td>
                    </tr>
                    <tr>
                        <td>EXPERIENCE</td>
                        <td>{{startup.founder_experience}}</td>
                    </tr>
                    <tr>
                        <td>CREDENTIALS</td>
                        <td>{{startup.founder_credentials}}</td>
                    </tr>
                    <tr style="font-weight:bold">Startup Address</tr>
                    <tr>
                        <td>ADDRESS LINE 1</td>
                        <td>{{startup.startup_address_line_1}}</td>
                    </tr>
                    <tr>
                        <td>ADDRESS LINE 2</td>
                        <td>{{startup.startup_address_line_2}}</td>
                    </tr>
                    <tr>
                        <td>CITY</td>
                        <td>{{startup.startup_city}}</td>
                    </tr>
                    <tr>
                        <td>STATE</td>
                        <td>{{startup.startup_state_province_region}}</td>
                    </tr>
                    <tr>
                        <td>COUNTRY</td>
                        <td>{{startup.startup_country}}</td>
                    </tr>
                    <tr>
                        <td>ZIP / PINCODE</td>
                        <td>{{startup.startup_zip_pincode_postalcode}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


    <!-- <div class="col-md-12">
      <h3 style="text-decoration:underline;text-align: center">Program Progress</h3><br>
      <div style="text-align:center">
        <div class="shape1 col-md-2">Complete</div>
        <div class="col-md-1"></div>
        <div class="shape1 col-md-2">Cimplete</div>
        <div class="col-md-1"></div>
        <div class="shape1 col-md-2">InComplete</div>
        <div class="col-md-12">
          <br>
          <div class="slidecontainer">
            <input type="range" min="1" max="100" value="0" class="slider" id="myRange">

          </div>
        </div>
      </div>

    </div> -->


</div>