.font_0 {
    font: normal normal normal 40px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    color: #414141;
}

.font_3 {
    font: normal normal normal 20px/1.4em lulo-clean-w01-one-bold,sans-serif;
    color: #414141;
}

.font_7 {
    font: normal normal normal 17px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    color: #414141;
}

.font_2 {
    font: normal normal normal 28px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    color: #414141;
}
.h2{
    font-size: 17px !important;
  }