<h3>Assign Activities to Startups</h3>
<div *ngIf="courses.length >0">
  <div class="row">
    <button class="btn btn-success pull-right" type="button" (click)="assigncourses()">Assign Courses</button>
  </div>
  <div class="panel panel-default" *ngFor="let course of courses;let i = index">
    <div class="panel-body">
      <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="col-md-1 col-xs-12 col-sm-12">
          <input class="checkbox" type="checkbox"
            (change)="setvalues($event.target.checked,course)">
        </div>
        <div class="col-md-4">
          <span style="font-size: 20px;" [innerHTML]="course.title"></span>
          <h5 *ngFor="let ac of course.activities;let i = index"><span [ngStyle]="{'color': ac.admin_responsed? 'green':'red'}" [innerHTML]="ac.name" ></span></h5>
          <!-- <h5 >{{course.description}}</h5> -->
        </div>
        <div class="col-md-7">
          <div class="col-md-6">
            <span >{{course.pass_metric}},</span>
          </div>
          <div class="col-md-6">
            <span><strong>CheckList</strong></span>
            <div *ngFor="let act of course.checklists">
             
                <span [ngStyle]="{'color': act.is_passed? 'green':'red'}">{{act.name}}</span>
              
            </div>




          </div>

        </div>


      </div>
      <div class="col-md-12">
        <form>
          <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <label>Target Date</label>
            <input  class="form-control" type="date" name="target_date"
              [(ngModel)]="course.target_date">
          </div>
          <div class="col-md-4">

          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <!-- <button *ngIf="course.is_assigned == false" class="btn btn-primary btn-sm pull-right"
              (click)="viewMaterials(course)" routerLink="/admin/dashboard/assign-activities/view-materials">View
              Materials</button>
            <button *ngIf="course.is_assigned == true" class="btn btn-primary btn-sm pull-right"
              (click)="viewMaterials(course)" routerLink="/admin/dashboard/review-activities/view-materials">Review
              Materials</button>
              <button *ngIf="course.ex_date && course.all_activity_responsed == true" class="btn btn-danger btn-sm pull-right" (click)="sendRemainder(course)"
             >Send Remainder
              </button> -->
              <div class="btn-group">
                <button *ngIf="course.is_assigned == false"  class="btn btn-primary btn-sm" (click)="viewMaterials(course)" routerLink="/admin/dashboard/assign-activities/view-materials">View Materials</button>
                <button *ngIf="course.is_assigned == true" class="btn btn-primary btn-sm" (click)="viewMaterials(course)" routerLink="/admin/dashboard/review-activities/view-materials">Review Materials</button>
                <button *ngIf="course.ex_date && course.all_activity_responsed == true" class="btn btn-danger btn-sm" (click)="sendRemainder(course)">Send Remainder</button>
              </div>
          </div>
          <div class="col-md-12 col-xs-12 col-sm-12 alert alert-danger" *ngIf="course.is_assigned == true">
            <p>This Course is already assigned to this startup</p>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>