<h3> Activities</h3>
<div *ngIf="courses.length >0">
  
  <div class="panel panel-default" *ngFor="let course of courses">
    <div class="panel-body">
      <div class="col-md-12">
        
        <div class="col-md-4">
          <span style="font-size: 20px;">#{{course.title}}</span>
          <h5>{{course.description}}</h5>
        </div>
        <div class="col-md-8">
          <div class="col-md-6">
            <span >{{course.pass_metric}},</span>
          </div>
          <div class="col-md-6">
            <span>CheckList</span>
            <div *ngFor="let act of course.checklists">
             
                <span>{{act.name}}</span>
              
            </div>




          </div>

        </div>


      </div>
      <div class="col-md-12">
        <form>
          <div class="col-md-4 form-group">
            <label>Target Date</label>
            <input disabled class="form-control" type="date" name="target_date"
              [(ngModel)]="course.target_date">
          </div>
          <div class="col-md-4">

          </div>
          <div class="col-md-4">
            <button  class="btn btn-primary pull-right"
              (click)="viewMaterials(course)" routerLink="/startup/dashboard/view-materials">View
              Materials</button>
           
          </div>
        </form>
      </div>
    </div>
  </div>

</div>