.mar-top {
    margin-top: 8%;
}


@media (max-width: 575.98px) { 
   .panelheight{
       height: 97px;;
   }
   .removepad{
    padding: 0;
}
    }
   
 
    @media (min-width: 768px) { 
        .panelheight{
            height: 60px;
        }
      }
     