

<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>Live Programs</h2></div>
      <div class="panel-body">
        <div class="col-md-12" *ngFor="let live of livePrograms; let i = index">
            <a  href="#live{{i}}" class="btn btn-info" data-toggle="collapse" style="width:100%;border-radius: 0;" [innerHTML]="live.title">
                <span class="glyphicon glyphicon-triangle-bottom pull-right" aria-hidden="true"></span></a>
            <div id="live{{i}}" class="collapse row">
                <div class="row">
                    <div class="col-md-12 text-center" *ngIf="live.logo_image.url != null">
                        <img src="{{imageBaseUrl}}{{live.logo_image.url}}" width="50" height="50" />
                    </div>
                    <div clas="col-md-12 text-center" style="text-align:center;">
                      <!-- <h3>Programs name: </h3> -->
                      <h4 [innerHTML]="live.title"></h4>
                    </div>
                    <div clas="col-md-12 text-center" style="text-align:center;">
                        <!-- <h3>Programs Descriptions:</h3> -->
                        <h4 [innerHTML]="live.description"></h4>
                    </div>
                    <div class="col-md-12 text-center" *ngIf="live.main_image.url != null" style="text-align:center;">
                        <img src="{{imageBaseUrl}}{{live.main_image.url}}" width="750" height="350" />
                    </div>
                    <div clas="col-md-12 text-center" style="text-align:center;">
                      <h3>Important dates</h3>
                      <div class="col-md-6" style="text-align:center;">
                        <h3>Application Start date</h3>
                        <h4>{{live.application_start_date | date}}</h4>
                      </div>
                      <div class="col-md-6" style="text-align:center;">
                        <h3>Application End date</h3>
                        <h4>{{live.application_end_date | date}}</h4>
                      </div>
                    </div>
                    <div class="col-md-12" style="text-align:center;">
                      <h3>Program duration</h3>
                      <h4>{{live.duration}} </h4>
                    </div>
                    <div class="col-md-12 text-center">
                      <button class="btn btn-danger" routerLink="registration/{{live.id}}">Apply</button>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="panel panel-default">
      <div class="panel-heading">
        Experied Programs
      </div>
      <div class="panel-body">
        <div class="col-md-12" *ngFor="let exp of expPrograms; let i = index">
            <a  href="#exp{{i}}" class="btn btn-info" data-toggle="collapse" style="width:100%;border-radius: 0;" [innerHTML]="exp.title"></a>
            <div id="exp{{i}}" class="collapse row">
                <div class="row">
                  <div clas="col-md-12 text-center" style="text-align:center;">
                    <!-- <h3>Programs name: </h3> -->
                    <h4 [innerHTML]="exp.title"></h4>
                  </div>
                  <div clas="col-md-12 text-center" style="text-align:center;">
                      <!-- <h3>Programs Descriptions:</h3> -->
                      <h4 [innerHTML]="exp.description"></h4>
                  </div>
                  <div clas="col-md-12 text-center" style="text-align:center;">
                    <h3>Application dates</h3>
                    <div class="col-md-6 " style="text-align:center;">
                      <h3>Application Start date</h3>
                      <h4>{{exp.application_start_date | date}}</h4>
                    </div>
                    <div class="col-md-6" style="text-align:center;">
                      <h3>Application End date</h3>
                      <h4>{{exp.application_end_date | date}}</h4>
                    </div>
                  </div>
                  <div class="col-md-12" style="text-align:center;">
                    <h3>Program duration</h3>
                    <h4>{{exp.duration}} </h4>
                  </div>
                  <div class="col-md-12 text-center" >
                    <button class="btn btn-danger" disabled="true">Apply</button>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
 