<div class="container">
    <div class="col-md-12">
        <button class="btn btn-default" routerLink="/admin/dashboard/framework"><i
                class="glyphicon glyphicon-arrow-left">Back</i></button>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body" *ngIf="course">
                <form #Courses="ngForm">
                    <div class="row">
                        <h2>Course Details</h2>
                        <div class="col-md-6 form-group">
                            <label>Title</label>
                            <ckeditor name="title" [(ngModel)]="course.title" debounce="500" [readonly]="false"
                                [config]="ckEditorConfig">

                            </ckeditor>
                            <!-- <textarea class="form-control" type="text" name="title" [(ngModel)]="course.title"></textarea> -->
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Description</label>
                            <ckeditor name="description" [(ngModel)]="course.description" debounce="500"
                                [readonly]="false" [config]="ckEditorConfig">

                            </ckeditor>
                            <!-- <textarea class="form-control" type="text" name="description" [(ngModel)]="course.description"></textarea> -->
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Additional Description</label>
                            <ckeditor name="additional_description" [(ngModel)]="course.additional_description"
                                debounce="500" [readonly]="false" [config]="ckEditorConfig">

                            </ckeditor>
                            <!-- <textarea class="form-control" type="text" name="additional_description" [(ngModel)]="course.additional_description"></textarea> -->
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Pass Metric</label>
                            <textarea class="form-control" type="text" name="pass_metric"
                                [(ngModel)]="course.pass_metric"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-success pull-right" (click)="updateForm()"><i
                                class="glyphicon glyphicon-floppy-saved"></i> {{!course.id?
                                'Next':'Update Course'}}</button>
                        <button *ngIf="course.id != (null && undefined && 0)" class="btn btn-danger pull-right"
                            (click)="deleteform()"><i class="glyphicon glyphicon-trash"></i> Delete Course</button>
                    </div>
                    <br>
                    <div class="row" *ngIf="course.id != (null && undefined && 0)">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="height:57px;">List of Activities <button type="button"
                                    class="btn btn-info pull-right" (click)="addactivities()"><i
                                        class="glyphicon glyphicon-plus-sign"></i> Add Activities</button></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Placeholder</th>
                                                    <th>Order</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of course.activities;let i = index">
                                                    <td [innerHTML]="item.name"></td>
                                                    <td [innerHTML]="item.description"></td>
                                                    <td>{{item.placeholder}}</td>
                                                    <td>{{item.order}}</td>
                                                    <td><i class="glyphicon glyphicon-eye-open" title="view"
                                                            (click)="viewactivities(item)"></i>
                                                        <i style="padding-left: 14px;" class="glyphicon glyphicon-trash"
                                                            title="delete" (click)="deleteactivities(item.id,i)"></i>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" style="height:57px;">List of Checklists <button type="button"
                                    class="btn btn-info pull-right" (click)="addchecklists()"><i
                                        class="glyphicon glyphicon-plus-sign"></i> Add</button></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>

                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of course.checklists;let i = index">
                                                    <td>{{item.name}}</td>
                                                    <td>{{item.description}}</td>

                                                    <td><button type="button" class="btn btn-default"
                                                            (click)="viewchecklists(item)"><i
                                                                class="glyphicon glyphicon-eye-open"></i>
                                                            View Checklist</button><button type="button"
                                                            class="btn btn-danger"
                                                            (click)="deletechecklists(item.id,i)"><i
                                                                class="glyphicon glyphicon-trash"></i>
                                                            Delete Checklist</button></td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>



                </form>
                <app-error-display></app-error-display>
                <div class="modal fade" id="activitiesmodal" role="dialog" #activitiesmodal>
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" (click)="closeactivities()">&times;</button>
                                <h4 class="modal-title">Activity Details</h4>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="checklistforms">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <span class="label">Name</span>
                                            <ckeditor formControlName="name" debounce="500" [readonly]="false"
                                                [config]="ckEditorConfig">
                                            </ckeditor>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <span class="label">Description</span>
                                            <ckeditor formControlName="description" debounce="500" [readonly]="false"
                                                [config]="ckEditorConfig">
                                            </ckeditor>
                                            <!-- <textarea class="form-control" type="text" formControlName="description"
                                                ngModel></textarea> -->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="label">Placeholder</span>
                                            <input class="form-control" type="text" formControlName="placeholder"
                                                ngModel>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="label">Order</span>
                                            <input class="form-control" type="text" formControlName="order" ngModel>
                                        </div>
                                    </div>

                                    <!-- <div class="col-md-12">Checklist Items
                                        <div formArrayName="checklists" *ngFor="let item of checklistforms.get('checklists').controls; let i = index;">
                                            <div [formGroupName]="i">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <span class="label">Name</span>
                                                        <input class="form-control" formControlName="name" placeholder="Item name"
                                                            [(ngModel)]="item.controls.name.value">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <span class="label">Description</span>
                                                        <input class="form-control" formControlName="description"
                                                            placeholder="Item description" [(ngModel)]="item.controls.description.value">

                                                    </div>
                                                </div>



                                            </div>

                                            <div>
                                                <button *ngIf="i == checklistforms.get('checklists').length -1" type="button"
                                                    class="btn btn-info" (click)="addItem()"><i class="glyphicon glyphicon-plus-sign"></i> Add</button>
                                                <button type="button" class="btn btn-default" (click)="deleteItem(i)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                                            </div>
                                        </div>
                                    </div> -->
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success"
                                    (click)="saveActivities(checklistforms)"><i
                                        class="glyphicon glyphicon-floppy-saved"></i> {{!checklistforms.value.id?
                                    'Save':'Update' }}</button>
                                <button type="button" class="btn btn-default" (click)="closeactivities()">Close</button>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="modal fade" id="checklistmodal" role="dialog" #checklistmodal>
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" (click)="closechecklists()">&times;</button>
                                <h4 class="modal-title">Checklist Details</h4>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="checklists">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <span class="label">Name</span>
                                            <textarea class="form-control" type="text" formControlName="name"
                                                ngModel></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <span class="label">Description</span>
                                            <textarea class="form-control" type="text" formControlName="description"
                                                ngModel></textarea>
                                        </div>
                                    </div>



                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success" (click)="savechecklists(checklists)"><i
                                        class="glyphicon glyphicon-floppy-saved"></i> {{!checklists.value.id?
                                    'Save':'Update' }}</button>
                                <button type="button" class="btn btn-default" (click)="closechecklists()">Close</button>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="modal fade" id="deletepopup" role="dialog" #deletepopup>
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" (click)="closedelete()">&times;</button>
                                <h4 class="modal-title">Warning !!!</h4>
                            </div>
                            <div class="modal-body">
                                <p>{{deletedisplay}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" (click)="confirmdelete()">Confirm</button>
                                <button type="button" class="btn btn-default" (click)="closedelete()">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>