
  <div class="col-md-12" style="margin-top:5%;">
    <div class="well col-md-12 wellheight" >

      <img style="height:30px;width:30px;border-radius:50%;" src="{{apiCom.imgUrl}}{{startupprofile.main_image.url}}">


      <input type="text" name="description" [(ngModel)]="feed.description" class="form-control statusinput" placeholder="any updates?">


      <button class="btn btn-primary statusbtn1" (click)="addfeedimages()"><i class="glyphicon glyphicon-camera"></i></button>
      <button class="btn btn-primary statusbtn2" (click)="createfeed()"><i class="glyphicon glyphicon-send"></i></button>

    </div>
    <div hidden>
      <input class="form-control" type="file" id="images" name="images" placeholder="images" accept="image/*"
        (change)="handleInputChange($event)" />
    </div>

    <div class="well col-md-12" *ngFor="let feeds of allfeeds;let i = index">
      <div class="col-md-1" style="width:4%" *ngIf="feeds.posted_by != null">
        <img *ngIf="feeds.posted_by.main_image.url != null" style="height:30px;width:30px;border-radius:50%;"
          src="{{apiCom.imgUrl}}{{feeds.posted_by.main_image.url}}">
        <img *ngIf="feeds.posted_by.main_image.url == null" style="height:30px;width:30px;border-radius:50%;"
          src="assets/avatar_2x.png">
      </div>
      <div class="col-md-1" style="width:4%" *ngIf="feeds.posted_by == null">
        <img style="height:30px;width:30px;border-radius:50%;" src="assets/images/Vive-Blue.png">
      </div>
      <div class="col-md-10">
        <span *ngIf="feeds.posted_by != null">{{feeds.posted_by.startup_name}} </span>
        <span *ngIf="feeds.posted_by == null">VIVE-ADMIN </span>
      </div>
      <div class="col-md-1" *ngIf="feeds.posted_by != null">

        <span class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-option-vertical pull-right"
              *ngIf="feeds.posted_by.id == this.startupprofile.id"></i></a>
          <ul class="dropdown-menu" style="cursor: pointer;">
            <li><a (click)="editfeed(feeds)">Edit</a></li>
            <li (click)="deletefeed(feeds)"><a>Delete</a></li>

          </ul>

        </span>
      </div>
      <div class="col-md-12">
        <br>
        <p>{{feeds.description}}</p>
      </div>
      <div class="col-md-12" *ngIf="feeds.images.url != null && feeds.images.url != undefined">
        <br>
        <img class="feedimg" src="{{apiCom.imgUrl}}{{feeds.images.url}}" >
      </div>
      <div class="col-md-12">
        <!-- <div class="col-md-2">
          <i class="fa fa-heart" style="color:black">Likes</i>
        </div> -->
        <div class="col-md-2">
          <a (click)="opencomments(feeds.news_feed_comments)"><i class="fa fa-comment"
              style="color:black"></i>{{feeds.news_feed_comments.length}} Comments</a>
        </div>
        <br>
      </div>
      <div class="col-md-12 well">
        <img style="height:30px;width:30px;border-radius:50%;" src="{{apiCom.imgUrl}}{{startupprofile.main_image.url}}">


        <input 
          type="text" name="comment_{{i}}" [(ngModel)]="comment[i]" class="form-control commentinput" placeholder="comments?">

        <button class="btn btn-primary commentbtn"
          (click)="createcomment(feeds.id,i)"><i class="glyphicon glyphicon-send"></i></button>
      </div>

    </div>

    <!-- <div class="well col-md-12">
        <div class="col-md-1" style="width:4%">
            <img style="height:30px;width:30px;border-radius:50%;" src="assets/avatar_2x.png"> 
        </div>
        <div class="col-md-11">
            <span>COMPANY A</span>
          </div>
          
        <div class="col-md-12">
            <br>
            <img  src="assets/avatar_2x.png">
          </div>
        <!-- <div class="col-md-12">
          <br>
          <p>{{status}}</p>
        </div> ->
    </div> -->


  </div>

<div class="modal fade" id="editfeeds" role="dialog" #editfeeds>
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeupdatefeed()">&times;</button>
        <h4 class="modal-title">Feeds</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="col-md-12">
            <div class="form-group">
              <textarea class="form-control" name="description" [(ngModel)]="feed.description"></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <input class="form-control" type="file" id="images1" name="images1" placeholder="images" accept="image/*"
              (change)="handleInputChange($event)" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="updatefeed()">Update Feed</button>
        <button type="button" class="btn btn-default" (click)="closeupdatefeed()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="commentspop" role="dialog" #commentspop>
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closecomments()">&times;</button>
        <h4 class="modal-title">Comments</h4>
      </div>
      <div class="modal-body">
        <div class="well col-md-12" *ngFor="let com of showcomments;let i = index">
          <div class="col-md-1" style="width:4%" *ngIf="com.startup_profile != null">
            <img *ngIf="com.startup_profile.main_image.url != null" style="height:30px;width:30px;border-radius:50%;"
              src="{{apiCom.imgUrl}}{{com.startup_profile.main_image.url}}">
            <img *ngIf="com.startup_profile.main_image.url == null" style="height:30px;width:30px;border-radius:50%;"
              src="assets/avatar_2x.png">
          </div>
          <div class="col-md-1" style="width:4%" *ngIf="com.startup_profile == null">
            <img style="height:30px;width:30px;border-radius:50%;" src="assets/images/Vive-Blue.png">
          </div>
          <div class="col-md-10">
            <span *ngIf="com.startup_profile != null">{{com.startup_profile.startup_name}} </span>
            <span *ngIf="com.startup_profile == null">VIVE-ADMIN </span>
          </div>
          <div class="col-md-1" *ngIf="com.startup_profile != null">

            <span class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">
                <i class="glyphicon glyphicon-option-vertical pull-right"
                  *ngIf="com.startup_profile.id == this.startupprofile.id"></i></a>
              <ul class="dropdown-menu" style="cursor: pointer;">
                <li><a (click)="editcomments(com)">Edit</a></li>
                <li (click)="deletecomments(com)"><a>Delete</a></li>

              </ul>

            </span>
          </div>
          <div class="col-md-12">
            <br>
            <p>{{com.comment}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" (click)="closecomments()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editcommentpop" role="dialog" #editcommentpop>
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeeditcomment()">&times;</button>
        <h4 class="modal-title">Comments</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="col-md-12">
            <div class="form-group">
              <textarea class="form-control" name="comment" [(ngModel)]="commentobj.comment"></textarea>
            </div>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="updatecomments()">Update Comment</button>
        <button type="button" class="btn btn-default" (click)="closeeditcomment()">Close</button>
      </div>
    </div>
  </div>
</div>