<div class="container">
  <div class="col-md-12" style="margin-top:5%;">
    <div class="well col-md-12" style="height:70px;">

      <img style="height:30px;width:30px;border-radius:50%;" src="{{apiCom.imgUrl}}{{startupprofile.main_image.url}}">


      <input style="border:1px solid;box-shadow:none !important;position: absolute;left: 5%;top: 27%;width: 80%;"
        type="text" name="description" [(ngModel)]="feed.description" class="form-control" placeholder="any updates?">


      <button class="btn btn-primary" style="border-radius:50%;position: absolute;left: 86%;"
        (click)="addfeedimages()"><i class="glyphicon glyphicon-camera"></i></button>
      <button class="btn btn-primary" style="border-radius:50%;position: absolute;left: 90%;" (click)="createfeed()"><i
          class="glyphicon glyphicon-send"></i></button>

    </div>
    <div hidden>
      <input class="form-control" type="file" id="images" name="images" placeholder="images" accept="image/*"
        (change)="handleInputChange($event)" />
    </div>

    <div class="well col-md-12" *ngFor="let feeds of allfeeds;let i = index">
      <div class="col-md-1" style="width:4%">
        <img style="height:30px;width:30px;border-radius:50%;"
          src="{{apiCom.imgUrl}}{{feeds.posted_by.main_image.url}}">
      </div>
      <div class="col-md-10">
        <span>{{feeds.posted_by.startup_name}} </span>
      </div>
      <div class="col-md-1" *ngIf="feeds.posted_by.id == this.startupprofile.id">

        <span class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-option-vertical pull-right"></i></a>
          <ul class="dropdown-menu" style="cursor: pointer;">
            <li><a (click)="editfeed(feeds)">Edit</a></li>
            <li (click)="deletefeed(feeds)"><a>Delete</a></li> 

          </ul>

        </span>
      </div>
      <div class="col-md-12">
        <br>
        <p>{{feeds.description}}</p>
      </div>
      <div class="col-md-12" *ngIf="feeds.images.url != null && feeds.images.url != undefined">
        <br>
        <img src="{{apiCom.imgUrl}}{{feeds.images.url}}" style="height:100px;width:auto">
      </div>

    </div>

    <!-- <div class="well col-md-12">
        <div class="col-md-1" style="width:4%">
            <img style="height:30px;width:30px;border-radius:50%;" src="assets/avatar_2x.png"> 
        </div>
        <div class="col-md-11">
            <span>COMPANY A</span>
          </div>
          
        <div class="col-md-12">
            <br>
            <img  src="assets/avatar_2x.png">
          </div>
        <!-- <div class="col-md-12">
          <br>
          <p>{{status}}</p>
        </div> ->
    </div> -->


  </div>
</div>

<div class="modal fade" id="editfeeds" role="dialog" #editfeeds>
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeupdatefeed()">&times;</button>
        <h4 class="modal-title">Feeds</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="col-md-12">
            <div class="form-group">
              <textarea class="form-control" name="description" [(ngModel)]="feed.description"></textarea>
            </div>
          </div>
          <div class="col-md-12">
              <input class="form-control" type="file" id="images1" name="images1" placeholder="images" accept="image/*"
              (change)="handleInputChange($event)" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="updatefeed()">Update Feed</button>
          <button type="button" class="btn btn-default" (click)="closeupdatefeed()">Close</button>
        </div>
    </div>
  </div>
</div>