<!--Startup details-->
<div class="row score" *ngIf="startup"><label>Score</label>
    <div class="text-center">{{startup.score}}</div>
</div>
<div class="row" *ngIf="startup">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12">
                <h4 class="page-heading">Startup Info</h4>
                <div class="col-md-4"><label>Startup Name:</label>
                    {{startup.startup_name}}
                </div>
                <div class="col-md-4"><label>Founded date:</label>
                    {{startup.founded_date}}
                </div>
                <div class="col-md-4"><label>Entity type:</label>
                    {{startup.entity_type}}
                </div>
                <div class="col-md-4"><label>Company website:</label>
                    {{startup.website_url}}
                </div>
            </div>
            <div class="col-md-12">
                <h4 class="page-heading">Application Status</h4>
                <div class="col-md-4"><label>Application status:</label>
                    {{startup.application_status}}
                </div>
                <div class="col-md-4"><label>Status Description:</label>
                    {{startup.app_status_description}}
                </div>
            </div>
            <div class="col-md-12">
                <h4 class="page-heading">Founder info:</h4>
                <div class="col-md-4"><label>Founder Name:</label>
                    {{startup.founder_name}}
                </div>
                <div class="col-md-4"><label>Email:</label>
                    {{startup.founder_email}}
                </div>
                <div class="col-md-4"><label>Contact number:</label>
                    {{startup.founder_phone_number}}
                </div>
                <div class="col-md-4"><label>Skills</label>
                    {{startup.founder_skills}}
                </div>
                <div class="col-md-4"><label>Commitment</label>
                    {{startup.founder_commitment}}
                </div>
                <div class="col-md-4"><label>Experience</label>
                    {{startup.founder_experience}}
                </div>
                <div class="col-md-4"><label>Credentials</label>
                    {{startup.founder_credentials}}
                </div>
            </div>
            <div class="col-md-12">
                <h4 class="page-heading">Startup Address:</h4>
                <div class="col-md-4"><label>Startup address line 1</label>
                    {{startup.startup_address_line_1}}

                </div>
                <div class="col-md-4"><label>Startup address line 2</label>
                    {{startup.startup_address_line_2}}

                </div>
                <div class="col-md-4"><label>Startup city</label>
                    {{startup.startup_city}}

                </div>
                <div class="col-md-4"><label>Startup state province region</label>
                    {{startup.startup_state_province_region}}

                </div>
                <div class="col-md-4"><label>Startup country</label>
                    {{startup.startup_country}}

                </div>
                <div class="col-md-4"><label>Startup zip pincode postalcode</label>
                    {{startup.startup_zip_pincode_postalcode}}

                </div>
                <div class="col-md-12" *ngIf="startup.application_status == 'RC'">
                    <button class="btn btn-success" (click)="startupAccept(startup.id)">Request current state form</button>
                    <button class="btn btn-danger" (click)="startupReject(startup.id)">Send gentle reminder to send current state form</button>

                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<div class="row" *ngIf="appRespQues">
    <form #form="ngForm" (ngSubmit)="submitAdminResponse(form)">
        <h4>Review startup responses</h4>
        <div class="col-md-12" *ngFor="let app_res of appRespQues; let i = index">
            
            <div class="col-md-12"><label>Title</label>
                {{app_res.application_question.title}}
            </div>
            <div class="col-md-12"><label>Description</label>
                {{app_res.application_question.description}}
            </div>
            <div class="col-md-12"><label>Question</label>
                {{app_res.application_question.question}}
            </div>
            <div class="col-md-12"><label>Startup Response</label>
                {{app_res.response}}
                {{app_res.admin_response}}
            </div>
            <div *ngIf="app_res.admin_response">
                <div class="col-md-12"><label>Admin Response</label>
                    {{app_res.reviewer_feedback}}
                </div>
                <div class="col-md-12"><label>Admin Response</label>
                    {{app_res.reviewer_rating}}
                </div>
                <div class="col-md-12">
                    <button class="btn btn-default" (click)="app_res.admin_response = false">Edit</button>
                </div>
                <br>
            </div>
            <div ngModelGroup="{{i}}" *ngIf="!app_res.admin_response">
                <div class="col-md-12 form-group"><label>Admin Feedback</label>
                    <input type="hidden" name="id" [(ngModel)]="app_res.id" >
                    <input type="hidden" name="application_question_id" [(ngModel)]="app_res.application_question.id">
                    <textarea class="form-control" type="text" [(ngModel)]="i.reviewer_feedback" name="reviewer_feedback"></textarea>
                </div>
                <div class="col-md-12 form-group"><label>Admin rating</label>
                    <div class="form-group">
                        <select class="form-control" id="sel1" [(ngModel)]="i.reviewer_rating" name="reviewer_rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-default" type="submit" >Submit</button>
        </div>
    </form>
</div>