<!-- <div class="col-md-12" >
    <h1 class="text-center">  Roadmap</h1>



    <div class="col-md-12 col-sm-12 col-xs-12" style="height:270px;">
      <div class="oval text-center">
        <span style="font-size: 15px;">Graduation</span>
        <textarea class="form-control" type="text" style="margin-top:35px;width: 70%;margin-left: 40px;resize: none"
          placeholder="Enter the goal" name="roadmap.goal" [(ngModel)]="roadmap.goal"></textarea>
      </div>
      <div style="position:relative">
        <button class="circle child_circle1"  (click)="openmapdetails()">Target
          Metrics</button>
        <button class="circle child_circle2">Resources Needed</button>
        <button class="circle child_circle3">Target Metrics</button>
      </div>
    
    </div>
    
    <div class="col-md-6 col-sm-12 col-xs-12" style="height:270px;" *ngFor="let item of roadmap.milestones;let i = index">
      <div class="oval-md-6 text-center">
        <span style="font-size: 15px;">{{item.month}}</span>
        <textarea class="form-control" type="text" style="margin-top:35px;width: 70%;margin-left: 40px;resize: none"
          placeholder="Enter the goal" name="item.name" [(ngModel)]="item.name"></textarea>
      </div>
      <div style="position:relative">
        <button type="button" class="circle child1_circle1" (click)="openmilestone(i)">Target
          Metrics</button>
        <button [disabled]="!roadmap.id" type="button" class="circle child1_circle2"  (click)="openresource(i)">Resources Needed</button>
        <button type="button" class="circle child1_circle3">Target Metrics</button>
      </div>
    
    </div>
    
    <div class="col-md-12">
      <button class="btn btn-default pull-right" type="submit" (click)="submitRoadmap()">{{!roadmap.id ? 'Save':'Update'}}</button>
      <button *ngIf="roadmap.id !=(null && undefined)" class="btn btn-danger pull-right" (click)="deleteroadmap()">Delete</button>
    </div>
    
    <div class="modal fade" id="roadmpdetails" role="dialog" #roadmpdetails>
        <div class="modal-dialog modal-lg">
        
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" (click)="closeroadmap()" >&times;</button>
              <h4 class="modal-title">Roadmap Details</h4>
            </div>  
            <div class="modal-body">
              <form>
                <div class="col-md-12">
                  <div class="form-group">
                    <span class="label">Strategy</span>
                    <textarea class="form-control" name="roadmap.strategy" [(ngModel)]="roadmap.strategy"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                      <span class="label">Description</span>
                      <textarea class="form-control" name="roadmap.description" [(ngModel)]="roadmap.description"></textarea>
                    </div>
                  </div>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="saveroadmap()">Save</button>
              <button type="button" class="btn btn-default" (click)="closeroadmap()">Close</button>
            </div>
          </div>
          
        </div>
      </div>
    
    
    
    <div class="modal fade" id="milestone" role="dialog" #milestone>
        <div class="modal-dialog modal-lg">
        
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" (click)="closemilestone()" >&times;</button>
              <h4 class="modal-title">Milestone Details</h4>
            </div>  
            <div class="modal-body">
              <form>
                <div class="col-md-12">
                  <div class="form-group">
                    <span class="label">Metric</span>
                    <textarea class="form-control" name="metric" [(ngModel)]="metric"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                      <span class="label">Description</span>
                      <textarea class="form-control" name="description" [(ngModel)]="description"></textarea>
                    </div>
                  </div>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="savemilestone()">Save</button>
              <button type="button" class="btn btn-default" (click)="closemilestone()">Close</button>
            </div>
          </div>
          
        </div>
      </div>
</div>
 -->

<div class="row">
  <div class="col-md-12 text-center"><h1>Road Map</h1></div>
  <div class="col-md-12" style="background: #b7cdf8;margin-bottom: 30px;" >
      <div class="colo-md-12 text-center">
        <h2 style="color:grey">Main Goal</h2>
          <h4><strong>{{roadmap.goal}}</strong></h4>
          <hr>
          <label style="color:grey">Goal description</label>
          <h5>{{roadmap.description}}</h5>
          <hr>
          <label style="color:grey">Goal strategy</label>
          <p>{{roadmap.strategy}}</p>
        </div>
  </div>
  <div class="col-md-12" style="width:100%;position: relative;"><hr style="border: 10px solid #9696c3;"></div>
  <div class="col-md-4 col-sm-4 text-center" *ngFor="let item of roadmap.milestones;let i = index">
    <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 circle2" >{{i + 1}}</div>
    <div class="col-md-12 col-sm-12" style="background: #c4aedd;position:static;">
      <p style="font-size: 15px;">#{{i + 1}} {{item.month}} month target</p>
      <div class="colo-md-12 col-sm-12">
          <label style="color:grey">Milestone name</label>
        <h3><strong>{{item.name}}</strong></h3>
        <hr>
        <label style="color:grey">Milestone description</label>
        <h4>{{item.description}}</h4>
        <hr>
        <label style="color:grey">Milestone metric</label>
        <p>{{item.metric}}</p>
        <hr>
        <div *ngFor="let resource of item.resources; let i = index">
          <label style="color:grey">#{{i + 1}} Resource requested</label>
          <p><strong>Resource type: </strong>{{resource.resource_type}}</p>
          <p><strong>Resource Count: </strong>{{resource.no_of_resource}}</p>
          <p><strong>Date needed: </strong>{{resource.date_needed}}</p>
          <p><strong>Hours needed: </strong>{{resource.hours_needed}}</p>
          <p><strong>Payment mode: </strong>{{resource.payment_mode}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

