

.label{
   font-size: 14px;
   color: black;
   background-color: none; 
 }

.oval-md-6{
   left: 4%;
   width: 300px;
   height: 150px;
   border-radius: 50%;
   background: lightgreen;
   overflow: hidden;
   border-color: aqua;
   border: 4px solid;
   position: relative;
}

.circle{
   width: 100px;
   height: 100px;
   border-radius: 100%;
   background-color: lightblue;
   overflow: hidden;
   border-color: lightblue;
   border:4px solid;
   
}
.circle2{
  position: absolute;
  width: 68px;
  height: 64px;
  border-radius: 100%;
  background-color:#7cccf9;
  overflow: hidden;
  border-color: lightblue;
  /* border:4px solid; */
  font-weight: 600;
  font-size: 320%;
  color: white;
  bottom: 100%;
  right: 102px;
}

@media only screen and (min-width: 728px) { 
  /* .circle2{
    right: 101px;
    font-size: 212%;
    width: 46px;
    height: 44px;
  } */
}
.text_circle {
   font-size: 20px;
   margin:20px;
   vertical-align: middle;
   line-height: 60px;
 }

 .text_circle1 {
   font-size: 20px;
   margin:20px;
   vertical-align: middle;
   line-height: 60px;
 }
 
 @media (max-width: 575.98px) { 
   .oval {
     left: 4%;
   width: 300px;
   height: 150px;
   border-radius: 50%;
   background: lightgreen;
   overflow: hidden;
   border-color: aqua;
   border: 4px solid;
   position: relative;
}
     .child_circle1{
       left:-5%;
       bottom: 0;
       top: -27px;
       position: absolute;
     }
     .child_circle2{
       left: 42%;bottom: 0;top: -2%;position: absolute;
     }
     .child_circle3{
       left: 85%;bottom: -81px;position: absolute;
     }
  }

  @media (min-width: 600px) { 
   .oval {
     left:27%;
     width: 300px;
    height: 150px;
    border-radius: 50%;
    background: lightgreen;
    overflow: hidden;
    border-color: aqua;
    border:4px solid;
    position: relative
}
   .child_circle1{
     left:24%;
     bottom: 0;
     top: -27px;
     position: absolute;
   }
   .child_circle2{
     left: 39%;bottom: 0;top: -2%;position: absolute;
   }
   .child_circle3{
     left: 54%;bottom: -81px;position: absolute;
   }

}

@media (max-width: 575.98px) { 
 .child1_circle1{
   left:-7%;
   bottom: 0;
   top: -27px;
   position: absolute;
 }
 .child1_circle2{
   left: 40%;bottom: 0;top: -2%;position: absolute;
 }
 .child1_circle3{
   left: 87%;bottom: -84px;position: absolute;
 }
 .circle2{
  right: auto;
  font-size: 253%;
  width: 52px;
  height: 48px;
  top: 0;
}
/* .milestone-div{
  padding-bottom: 28px;
} */
}

@media (min-width: 600px) {
.child1_circle1{
 left: 0%;bottom: 0;top: -23px;position: absolute;
}
.child1_circle2{
 left: 30%;bottom: 0;top: 0;position: absolute;
}
.child1_circle3{
 left: 61%;bottom: -82px;position: absolute;
}

}