
  <div class="container-fluid">
    
      <div class="col-md-4">
        <div class="col-md-6">
          <img src="{{companylogo}}" style="height:125px;width: 150px;">
        </div>
        <div class="col-md-6">
          <span>{{CompanyName}}</span><br>
          <label>Mentor(s):</label><br>
          {{Mentors}}

        </div>
        <div class="col-md-12">
          <button class="btn btn-primary pull-left">View RoadMap</button>
        </div>
        <div class="col-md-12">
          <h4 style="text-decoration:underline">Bio</h4>
          <p>{{bio}}</p>
        </div>
        <div class="col-md-12">
          <h4 style="text-decoration:underline">Financials</h4>
          <div class="col-md-12">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Nickname</th>
                  <th>Employee</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Arun</td>
                  <td>28</td>
                  <td>Arun</td>
                  <td>true</td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="col-md-8">
        <h3 style="text-decoration:underline;text-align: center">About Company {{CompanyName}}</h3>
        <div class="col-md-12">
          <div class="container">
            <div class="bg">
              <img src="assets/photo.png" alt=""  style="height:125px;width: 150px;">
              <div class="overlay">
                <h2>Team Member1</h2>
                <p>(picture)</p>
              </div>
            </div>
            <div class="bg">
              <img src="assets/photo.png" alt=""  style="height:125px;width: 150px;">
              <div class="overlay">
                <h2>Team Member2</h2>
                <p>(picture)</p>
              </div>
            </div>
            <div class="bg">
              <img src="assets/photo.png" alt="" style="height:125px;width: 150px;">
              <div class="overlay">
                <h2>Team Member3</h2>
                <p>(picture)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <h3 style="text-decoration:underline;text-align: center">Current State</h3><br>
          <p>{{currentstate}}</p>
        </div>
        <div class="col-md-12">
          <h3 style="text-decoration:underline;text-align: center">Program Progress</h3><br>
          <div style="text-align:center">
            <div class="shape1 col-md-2">Complete</div>
            <div class="col-md-1"></div>
            <div class="shape1 col-md-2">Cimplete</div>
            <div class="col-md-1"></div>
            <div class="shape1 col-md-2">InComplete</div>
            <div class="col-md-12">
              <br>
              <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">

              </div>
            </div>
          </div>

        </div>
        <div class="col-md-12">
          <h3>Funding</h3><br>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Source</th>
                <th>Amount</th>
                <th>Date</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>From Client</td>
                <td>450000</td>
                <td>22-01-2019</td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12">
          <h3>Acheivements & Milestones</h3><br>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Date</th>
                <th>Overview</th>
                <th>Description</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>22-01-2019</td>
                <td>Overview</td>
                <td>Desc</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>