<div class="contbox">

  <div class="col-md-12">
    <button class="btn btn-default" routerLink="/admin/dashboard/startups-by-programs"><i
        class="glyphicon glyphicon-arrow-left">Back</i></button>

        <br>
  </div>
  <div class="col-md-12">
    <div class="col-md-2">
      <br>
      <img class="img-responsive profileimg" src="{{companylogo}}" >
    </div>
    <div class="col-md-10 pull-left">
      <h4 >{{startupdata.startup_name}}</h4>
      <br>
      <!-- <label>Mentor(s):</label><br>
      {{Mentors}} -->

    </div>
    <div class="col-md-12">
      <!-- <div class="btn-group-vertical">
            <button type="button" class="btn btn-primary" routerLink="company-profile">Profile</button>
            <button *ngIf="roadmap != (null && undefined)" type="button" class="btn btn-primary" style="margin-top:4%" routerLink="road-map">View Roadmap</button>
            <button type="button" class="btn btn-primary" style="margin-top:4%" routerLink="assign-review-activities">Assign & Review Activities</button>
            
          </div> -->
      <div class="col-md-12 hidden-sm hidden-xs" >
        <br>
        <div class="col-md-1">
          <button type="button" class="button" routerLink="company-profile">Profile</button>
          <!-- <i *ngIf="buttonVals === 1" class="glyphicon glyphicon-triangle-bottom" style="margin-left: 42%;"></i> -->
        </div>
        <div class="col-md-2">
          <button *ngIf="roadmap != (null && undefined)" type="button" class="button" routerLink="road-map">View
            Roadmap</button>
          <!-- <i *ngIf="buttonVals === 2" class="glyphicon glyphicon-triangle-bottom" style="margin-left: 42%;"></i> -->
        </div>
        <div class="col-md-3">
          <button type="button pull-left" style="margin-left: -10%;" class="button" routerLink="assign-review-activities">Assign & Review Activities</button>
          <!-- <i *ngIf="buttonVals === 3" class="glyphicon glyphicon-triangle-bottom" style="margin-left: 42%;"></i> -->
        </div>

      </div>
      <div class="col-md-12 hidden-lg hidden-md">
          <div class="btn-group">
              <button type="button" class="btn btn-primary" style="padding:6px;" routerLink="company-profile">Profile</button>
              <!-- <i *ngIf="buttonVals === 1" class="glyphicon glyphicon-triangle-bottom" style="margin-left: 42%;"></i> -->
              <button type="button" class="btn btn-primary" routerLink="road-map" >View RoadMap</button>
              <!-- <i *ngIf="buttonVals === 2" class="glyphicon glyphicon-triangle-bottom" style="margin-left: 42%;"></i> -->
              <button type="button" class="btn btn-primary" routerLink="assign-review-activities"> Activities</button>
              <!-- <i *ngIf="buttonVals === 3" class="glyphicon glyphicon-triangle-bottom" style="margin-left: 42%;"></i> -->
              <!-- <button type="button" class="btn btn-primary" routerLink="status-updates" (click)="buttonVal('update')">Updates</button> -->
              <!-- <i *ngIf="buttonVals === 4" class="glyphicon glyphicon-triangle-bottom" style="margin-left: 42%;"></i> -->
            </div>
      </div>

    </div>
    <div class="col-md-12">
      <h4 style="text-decoration:underline">About Us</h4>
      <p>{{startupdata.description}}</p>
    </div>
    <div class="col-md-12"*ngIf="startupdata.founding_sources.length > 0">
      <h4 style="text-decoration:underline">Financials</h4>
      <div class="col-md-12">
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th>Source</th>
              <th>Amount</th>
              <th>Date</th>


            </tr>
          </thead>
          <tbody *ngIf="startupdata">
            <tr *ngFor="let item of startupdata.founding_sources;let i = index">
              <td>{{item.source}}</td>
              <td>{{item.amount}}</td>
              <td>{{item.date |date:'dd-MM-yyyy'}}</td>

            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>



</div>