<div class="container-fluid">
  <h3 style="text-decoration:underline;text-align: center">About Company </h3>
  <div class="col-md-12">
    
      <div class="bg" (click)="adduser()">
        <img src="assets/adduser.jpeg" alt="" style="height:125px;width: 150px;">
        <div class="overlay">
          <h4>Add Team Member</h4>

        </div>
      </div>
      <div class="bg" *ngFor="let item of startupprofile.users;let i= index" (click)="viewuser(item,i)">
        <img src="assets/photo.png" alt="" style="height:125px;width: 150px;">
        <div class="overlay">
          <h4>{{item.full_name}}</h4>
          <p></p>
        </div>
      </div>

    
  </div>

  <div class="col-md-12" style="background-color:none;">
    <div>
      <h3>Funding</h3>
    </div>

    <div><button class="btn btn-info pull-right" (click)="addfunding()"><i class="glyphicon glyphicon-plus-sign"></i> Fund</button></div>
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th>Source</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody *ngIf="startupprofile">
        <tr *ngFor="let item of startupprofile.founding_sources;let i = index">
          <td>{{item.source}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.date |date:'dd-MM-yyyy'}}</td>
          <td>
            <button type="button" class="btn btn-default" (click)="viewfunding(item,i)"><i class="glyphicon glyphicon-eye-open"></i> View</button>
            <button type="button" class="btn btn-danger" (click)="deletefunding(item,i)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="fundpopup" role="dialog" #fundpopup>
    <div class="modal-dialog modal-lg">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="closefunding()">&times;</button>
          <h4 class="modal-title">Fund Details</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="col-md-4">
              <div class="form-group">
                <span class="label">Source</span>
                <input class="form-control" type="text" name="source" [(ngModel)]="funding.source">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <span class="label">Amount</span>
                <input class="form-control" type="number" name="amount" [(ngModel)]="funding.amount">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <span class="label">Date</span>
                <input class="form-control" type="date" name="date" [(ngModel)]="funding.date">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <span class="label">Description</span>
                <textarea class="form-control" type="text" name="description" [(ngModel)]="funding.description"></textarea>
              </div>
            </div>


          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default" (click)="savefunding()">{{!funding.id? 'Save':'Update' }}</button>
          <button type="button" class="btn btn-default" (click)="closefunding()">Close</button>
        </div>
      </div>


    </div>

  </div>

  <div class="modal fade" id="userpopup" role="dialog" #userpopup>
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="closeuser()">&times;</button>
          <h4 class="modal-title">User Details</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="col-md-4">
              <div class="form-group">
                <span class="label">FirstName</span>
                <input class="form-control" type="text" name="first_name" [(ngModel)]="user.first_name">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <span class="label">LastName</span>
                <input class="form-control" type="text" name="last_name" [(ngModel)]="user.last_name">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <span class="label">Email</span>
                <input class="form-control" type="email" name="email" [(ngModel)]="user.email">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <span class="label">Phone Number</span>
                <input class="form-control" type="number" name="phone_number" [(ngModel)]="user.phone_number">
              </div>
            </div>


          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" (click)="saveuser()"><i class="glyphicon glyphicon-floppy-saved"></i> {{!user.id? 'Save':'Update' }}</button>
          <button *ngIf="user.id" type="button" class="btn btn-danger" (click)="deleteuser()"><i class="glyphicon glyphicon-trash"></i> Delete</button>
          <button type="button" class="btn btn-default" (click)="closeuser()">Close</button>
        </div>
      </div>


    </div>

  </div>



  <div class="col-md-12">
    <h3>Acheivements & Milestones</h3><br>
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th>Date</th>
          <th>Overview</th>
          <th>Description</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>22-01-2019</td>
          <td>Overview</td>
          <td>Desc</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <div class="row">
      <a href="#profile" class="btn btn-info" data-toggle="collapse" style="width:100%;"><i class="glyphicon glyphicon-eye-open"></i> View Profile</a>
      <div id="profile" class="collapse row">
        <div class="panel panel-default">
          <div class="panel-body">

            <form>
              <div class="col-md-4">
                <div class="form-group">
                  <span class="label">Startup Name</span>
                  <input class="form-control" type="text" name="startupprofile.startup_name" [(ngModel)]="startupprofile.startup_name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <span class="label">Startup Founded Date</span>
                  <input class="form-control" type="date" name="startupprofile.founded_date" [(ngModel)]="startupprofile.founded_date">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <span class="label">Startup Email</span>
                  <input class="form-control" type="text" name="startupprofile.email" [(ngModel)]="startupprofile.email">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <span class="label">Team Size</span>
                  <input class="form-control" type="text" name="startupprofile.team_size" [(ngModel)]="startupprofile.team_size">
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <span class="label">Startup Bio</span>
                  <textarea class="form-control" type="text" name="startupprofile.description" [(ngModel)]="startupprofile.description"></textarea>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span class="label">Address 1</span>
                  <textarea class="form-control" type="text" name="startupprofile.address_line_1" [(ngModel)]="startupprofile.address_line_1"></textarea>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span class="label">Address 2</span>
                  <textarea class="form-control" type="text" name="startupprofile.address_line_2" [(ngModel)]="startupprofile.address_line_2"></textarea>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <span class="label">City</span>
                  <input class="form-control" type="text" name="startupprofile.city" [(ngModel)]="startupprofile.city">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <span class="label">State</span>
                  <input class="form-control" type="text" name="startupprofile.state_province_region" [(ngModel)]="startupprofile.state_province_region">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <span class="label">Country</span>
                  <input class="form-control" type="text" name="startupprofile.country" [(ngModel)]="startupprofile.country">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <span class="label">Zipcode/Pincode</span>
                  <input class="form-control" type="text" name="startupprofile.zip_pincode_postalcode" [(ngModel)]="startupprofile.zip_pincode_postalcode">
                </div>
              </div>
            </form>
            <div class="col-md-12 text-center">
              <button class="btn btn-success" (click)="submitprofile()"><i class="glyphicon glyphicon-floppy-saved"></i> Update Profile</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>



</div>