<h2 class="mar-top">Hi am from program control</h2>
<div class="row" *ngIf="!startup">
    <div class="col-md-12 form-group">
        <label for="user_type">Select Program</label>
        <select class="form-control" id="role" (change)="showStartups($event.target.value)">
            <option></option>
            <option *ngFor="let program of allPrograms" [value]="program.id">{{program.title}}</option>
            <!-- <option [value]="mentor">mentor</option> -->
            <!-- <option [ngValue]="startup">Startup User</option> -->
        </select>
    </div>
</div>

<div class="row" *ngIf="showStartup && allStartups.length == 0">
    <div class="alert alert-danger">
        <strong>Oops!</strong> No startup have registered for this program.
    </div>
</div>
<div class="row" *ngIf="showStartup && allStartups.length > 0">
    <div class="panel panel-default">
        <div class="panel-body">
            <label>List of registered startups</label>
            <div class="col-md-12">
                <button class="btn btn-primary pull-right" type="button" (click)="initiatecsfi()">
                    Initiate Current State Form</button>
                <button class="btn btn-success pull-right" type="button" (click)="startupAccept()">
                    Accept</button>
                <button class="btn btn-danger pull-right" type="button" (click)="startupReject()">
                    Reject</button>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Startup Name</th>
                            <th>Status</th>
                            <th>Status description</th>
                            <th>Score</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let startup of allStartups;let i = index" style="cursor: pointer; ">
                            <td><input class="checbox" type="checkbox" (change)="setarray($event.srcElement.checked,startup)"></td>
                            <td>{{startup.startup_name}}</td>
                            <td>{{startup.application_status}}</td>
                            <td>{{startup.app_status_description}}</td>
                            <td>{{startup.score}}</td>
                            <td>
                                <button routerLink="startup/{{startup.id}}">Review</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- app_status_description: "Application registered"
application_status: "PR"
contract_received_date: null
contract_signed: null
contract_signed_date: null
created_at: "2019-01-03T12:04:51.637Z"
created_by: null
current_state_form: false
current_state_form_reviewed: false
deleted_at: null
deleted_by: null
entity_type: "demo"
founded_date: "2019-01-03"
founder_commitment: "demo"
founder_credentials: "demo"
founder_email: "demo"
founder_experience: "demo"
founder_name: "demo"
founder_phone_number: "121312"
founder_skills: "demo"
id: 6
isActive: true
isDelete: false
program_id: 4
program_status_id: 1
startup_address_line_1: "demo"
startup_address_line_2: "demo"
startup_city: "demo"
startup_country: "demo"
startup_geo_location: null
startup_name: "demo"
startup_state_province_region: "demo"
startup_zip_pincode_postalcode: "demo"
updated_at: "2019-01-03T12:04:51.637Z"
website_url: "demo" -->
<!-- <div class="col-md-12">
    <table class="table table-bordered">
        <thead>
            <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Seat capacity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let program of allPrograms" style="cursor: pointer;"
                (click)="showStartups(program.id)">
            <td>{{program.title}}</td>
            <td>{{program.status}}</td>
            <td>{{program.seat_size}}</td>
            </tr>
        </tbody>
    </table>
</div> -->