<h1 class="text-center">Company X Roadmap</h1>



<div class="col-md-12" style="height:270px;">
  <div class="oval text-center">
    <span style="font-size: 15px;">Graduation</span>
    <textarea class="form-control" type="text" style="margin-top:35px;width: 70%;margin-left: 40px;resize: none"
      placeholder="Enter the goal"></textarea>
  </div>
  <div style="position:relative">
    <button class="circle" style="left: 24%;bottom: 0;top: -20px;position: absolute;">Target Metrics</button>
  <button class="circle" style="left: 39%;bottom: 0;top: -2%;position: absolute;">Resources Needed</button>
  <button class="circle" style="left: 54%;bottom: -70px;position: absolute;">Target Metrics</button>
  </div>
  
</div>

<div class="col-md-6" style="height:270px;">
  <div class="oval-md-6 text-center">
    <span style="font-size: 15px;">Graduation</span>
    <textarea class="form-control" type="text" style="margin-top:35px;width: 70%;margin-left: 40px;resize: none"
      placeholder="Enter the goal"></textarea>
  </div>
  <div style="position:relative">
    <button class="circle" style="left: 0%;bottom: 0;top: -17px;position: absolute;">Target Metrics</button>
  <button class="circle" style="left: 30%;bottom: -99px;top: 0;position: absolute;">Resources Needed</button>
  <button class="circle" style="left: 59%;bottom: -73px;position: absolute;">Target Metrics</button>
  </div>
  
</div>














<!-- <div class="col-md-6">

    <div class="oval text-center">
      <span>Graduation</span>
      <textarea class="form-control" type="text" style="margin-top:35px;width: 70%;margin-left: 40px;resize: none"
        placeholder="Enter the goal"></textarea>
    </div>
    <button class="circle" style="margin-left: 20%;bottom: 0; top: 267px;">Target Metrics</button>
    <button class="circle" style="margin-left: 30%;bottom: 0; top: 297px;">Resources Needed</button>
    <button class="circle" style="margin-left: 40%;bottom: 0; top: 267px;">Target Metrics</button>

  </div> -->