<!-- 
<div class="col-md-12 col-sm-12 col-xs-12" style="height:270px;">
  <div class="oval text-center">
    <span style="font-size: 15px;">Graduation</span>
    <textarea class="form-control" type="text" style="margin-top:35px;width: 70%;margin-left: 40px;resize: none"
      placeholder="Enter the goal" name="roadmap.goal" [(ngModel)]="roadmap.goal"></textarea>
  </div>
  <div style="position:relative">
    <button class="circle child_circle1"  (click)="openmapdetails()">Target
      Metrics</button>
    <button class="circle child_circle2">Resources Needed</button>
    <button class="circle child_circle3">Target Metrics</button>
  </div>

</div>

<div class="col-md-6 col-sm-12 col-xs-12" style="height:270px;" *ngFor="let item of roadmap.milestones;let i = index">
  <div class="oval-md-6 text-center">
    <span style="font-size: 15px;">{{item.month}}</span>
    <textarea class="form-control" type="text" style="margin-top:35px;width: 70%;margin-left: 40px;resize: none"
      placeholder="Enter the goal" name="item.name" [(ngModel)]="item.name"></textarea>
  </div>
  <div style="position:relative">
    <button type="button" class="circle child1_circle1" (click)="openmilestone(i)">Target
      Metrics</button>
    <button type="button" class="circle child1_circle2"  (click)="openresource(i)">Resources Needed</button>
    <button type="button" class="circle child1_circle3">Target Metrics</button> 
  </div>

</div>

<div class="col-md-12 col-sm-12 col-xs-12 text-center">
  <button class="btn btn-lg btn-success"  type="submit" (click)="submitRoadmap()"><i class="glyphicon glyphicon-floppy-saved"></i> {{!roadmap.id ? 'Save':'Update'}}</button>
  <button *ngIf="roadmap.id !=(null && undefined)" class="btn btn-danger pull-right" (click)="deleteroadmap()">Delete</button>
</div> -->

<div class="modal fade" id="roadmpdetails" role="dialog" #roadmpdetails>
  <div class="modal-dialog modal-lg">


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeroadmap()">&times;</button>
        <h4 class="modal-title">Roadmap Details</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="col-md-12">
            <div class="form-group">
              <span class="label">Strategy</span>
              <textarea class="form-control" name="roadmap.strategy" [(ngModel)]="roadmap.strategy"></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <span class="label">Description</span>
              <textarea class="form-control" name="roadmap.description" [(ngModel)]="roadmap.description"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="saveroadmap()">Next</button>
        <button type="button" class="btn btn-default" (click)="closeroadmap()">Close</button>
      </div>
    </div>

  </div>
</div>



<div class="modal fade" id="milestone" role="dialog" #milestone>
  <div class="modal-dialog modal-lg">


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closemilestone()">&times;</button>
        <h4 class="modal-title">Milestone Details</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="col-md-12">
            <div class="form-group">
              <span class="label">Metric</span>
              <textarea class="form-control" name="metric" [(ngModel)]="metric"></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <span class="label">Description</span>
              <textarea class="form-control" name="description" [(ngModel)]="description"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="savemilestone()">Next</button>
        <button type="button" class="btn btn-default" (click)="closemilestone()">Close</button>
      </div>
    </div>

  </div>
</div>


<div class="modal fade" id="resourcesneeded" role="dialog" #resourcesneeded>
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeresource()">&times;</button>
        <h4 class="modal-title">Resource Details</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="col-md-6">
            <div class="form-group">
              <span class="label">Resource Type</span>
              <select class="form-control" name="resource_type" [(ngModel)]="resources.resource_type">
                <option value="">---Select---</option>
                <option value="software">Software</option>
                <option value="hardware">Hardware</option>
                <option value="marketing">Marketing</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <span class="label">No of Resource</span>
              <input type="text" class="form-control" name="no_of_resource" [(ngModel)]="resources.no_of_resource">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <span class="label">Date Needed</span>
              <input type="date" class="form-control" name="date_needed" [(ngModel)]="resources.date_needed">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <span class="label">Payment Mode</span>
              <select class="form-control" name="payment_mode" [(ngModel)]="resources.payment_mode">
                <option value="">---Select---</option>
                <option value="Cash">Cash</option>
                <option value="Equity">Equity</option>

              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveresource()"><i
            class="glyphicon glyphicon-floppy-saved"></i>{{!resources.id? 'Save':'Update'}}</button>
        <button type="button" class="btn btn-default" (click)="closeresource()">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="col-md-12" style="margin-top:5%;">
    <h3 class="text-center" style="font-family: 'Times New Roman', Times, serif;font-weight: bold"> The Roadmap</h3>
  </div>
  <div class="col-md-12">
    <div class="col-md-12">
      <label>Goals by Month</label>
      <br>
      <div class="btn-group">
        <button type="button" class="btn btn-default" (click)="maingoal()">Main Goal</button>
        <button type="button" class="btn btn-default" *ngFor="let item of roadmap.milestones;let i = index" (click)="milegoal(item,i)">{{item.month}}</button>
       
      </div>
    </div>
    <div class="col-md-12" style="margin-top:5%;">
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1default" data-toggle="tab">Goal</a></li>
            <li><a href="#tab2default" data-toggle="tab">KPI</a></li>
            <li><a href="#tab3default" data-toggle="tab">Status</a></li>
            <!-- <li class="dropdown">
                            <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
                                <li><a href="#tab5default" data-toggle="tab">Default 5</a></li>
                            </ul>
                        </li> -->
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1default">
              <div class="col-md-12">
                <form>
                  <div class="col-md-12 form-group">
                    <textarea [disabled]="roadedit == true" class="form-control" name="kpigoal" [(ngModel)]="kpigoal"></textarea>
                  </div>
                  <div class="col-md-12" *ngIf="mileindex != -1">
                    <button *ngIf="roadmap.id" class="button pull-right" (click)="openresource()">Request Resource</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="tab2default">
                <div class="col-md-12">
                    <form>
                      <div class="form-group">
                        <label *ngIf="!mileindex">Strategy</label>
                        <label *ngIf="mileindex">Metric</label>
                        <textarea [disabled]="roadedit == true" class="form-control" name="kpimetric" [(ngModel)]="kpimetric"></textarea>
                      </div>
                      <div class="form-group">
                          <label>Description</label>
                          <textarea [disabled]="roadedit == true" class="form-control" name="kpidescription" [(ngModel)]="kpidescription"></textarea>
                        </div>
                    </form>
                  </div>
            </div>
            <div class="tab-pane fade" id="tab3default">Default 3</div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <button *ngIf="roadedit == true" type="button" class="button pull-right" (click)="roadedit = false">Edit</button>
      <button *ngIf="roadedit == false" type="submit" class="button pull-right" (click)="submitRoadmap()">Submit</button>
    </div>
  </div>
</div>









<!-- <div class="col-md-6">

    <div class="oval text-center">
      <span>Graduation</span>
      <textarea class="form-control" type="text" style="margin-top:35px;width: 70%;margin-left: 40px;resize: none"
        placeholder="Enter the goal"></textarea>
    </div>
    <button class="circle" style="margin-left: 20%;bottom: 0; top: 267px;">Target Metrics</button>
    <button class="circle" style="margin-left: 30%;bottom: 0; top: 297px;">Resources Needed</button>
    <button class="circle" style="margin-left: 40%;bottom: 0; top: 267px;">Target Metrics</button>

  </div> -->