<div class="container">
    <div class="row">
        <button class="btn btn-default pull-left" routerLink="/admin/dashboard/program"><i
                class="glyphicon glyphicon-arrow-left"></i>Back</button>
    </div>
    <div class="row">
        <form [formGroup]='program' *ngIf="showForm" (ngSubmit)=" onProgramSubmit(program,datas)" validate>
            <div>
                <!-- Program Type-->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="height:60px;">Select Program Type

                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 form-group">
                                <div class="form-group">
                                    <label for="sel1">Select Program type:</label>
                                    <select class="form-control" id="sel1" formControlName="program_type_id"
                                        [ngClass]="{errmsg: !program.controls['program_type_id'].valid && submitted}">
                                        <option *ngFor="let program_type of datas.program_types"
                                            [value]="program_type.id">{{program_type.program_type_title}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Program Location-->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="height:60px;">Select program location

                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 form-group">
                                <div class="form-group">
                                    <label for="sel1">Select Program location:</label>
                                    <select class="form-control" id="sel1" formControlName="ProgramLocation_id"
                                        [ngClass]="{errmsg: !program.controls['ProgramLocation_id'].valid && submitted}">
                                        <option [value]=" "></option>
                                        <option *ngFor="let program_location of datas.program_locations"
                                            [value]="program_location.id">City:
                                            {{program_location.city}},State: {{program_location.state_province_region}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="col-md-12">
    
                        </div> -->
                        </div>
                    </div>
                </div>
                <!--Select FrameWork-->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="height:60px;">Select Framework
                            <!-- <button class="btn btn-success pull-right">Create Program location</button> -->
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 form-group">
                                <div class="form-group">
                                    <label for="sel1">Select Framework:</label>
                                    <select class="form-control" id="sel1" formControlName="framework_id"
                                        [ngClass]="{errmsg: !program.controls['framework_id'].valid && submitted}">
                                        <option [value]=" "></option>
                                        <option *ngFor="let framework of datas.frameworks" [value]="framework.id">
                                            {{framework.title}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Program Details-->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="height:60px;">Program details
                            <!-- <button class="btn btn-success pull-right">Create Program location</button> -->
                        </div>
                        <div class="panel-body">
                            <div class="col-md-4 form-group">
                                <label>Title:</label>
                                <ckeditor name="title" formControlName="title" debounce="500" [readonly]="false"
                                    [config]="ckEditorConfig">

                                </ckeditor>
                                <!-- <input class="form-control" type="text" name="" formControlName="title"
                                 [ngClass]="{errmsg: !program.controls['title'].valid && submitted}"  required/> -->
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Program Description:</label>
                                <ckeditor name="description" formControlName="description" debounce="500"
                                    [readonly]="false" [config]="ckEditorConfig">

                                </ckeditor>
                                <!-- <textarea class="form-control"  name="description" formControlName="description" 
                                    [ngClass]="{errmsg: !program.controls['description'].valid && submitted}" required></textarea> -->
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Start date:</label>
                                <input class="form-control" type="date" name="start_date" formControlName="start_date" (ngModelChange)="prgstartdate($event)"
                                    [ngClass]="{errmsg: !program.controls['start_date'].valid && submitted}" required />
                            </div>
                            <div class="col-md-4 form-group">
                                <label>End date:</label>
                                <input [disabled]="!program.controls['start_date'].valid" class="form-control" type="date" name="end_date" formControlName="end_date" (ngModelChange)="prgenddate($event)"
                                    [ngClass]="{errmsg: !program.controls['end_date'].valid && submitted}" required />
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Enter seat capacity:</label>
                                <input class="form-control" type="number"  min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" name="seat_size" formControlName="seat_size"
                                    [ngClass]="{errmsg: !program.controls['seat_size'].valid && submitted}" required />
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Industry:</label>
                                <input class="form-control" type="text" name="industry" formControlName="industry"
                                    [ngClass]="{errmsg: !program.controls['industry'].valid && submitted}" required />
                            </div>

                            <div class="col-md-4 form-group">
                                <label>Main image:</label>
                                <input class="form-control" type="file" id="main_image" placeholder="main_image"
                                    name="main_image" type="file" accept="image/*"
                                    (change)="handleInputChange($event,true,false)"
                                    [ngClass]="{errmsg: !program.controls['main_image'].valid && submitted}" />
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Logo image:</label>
                                <input class="form-control" type="file" id="logo_image" placeholder="logo_image"
                                    name="logo_image" type="file" accept="image/*"
                                    (change)="handleInputChange($event,false,true)"
                                    [ngClass]="{errmsg: !program.controls['logo_image'].valid && submitted}" />
                            </div>

                            <div class="col-md-4 form-group">
                                <label>Duration in months:</label>
                                <input disabled class="form-control" type="text" name="duration" formControlName="duration"
                                    [ngClass]="{errmsg: !program.controls['duration'].valid && submitted}" required />
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Program registration start date:</label>
                                <input [disabled]="!program.controls['start_date'].valid || !program.controls['end_date'].valid " class="form-control" type="date" name="application_start_date" (ngModelChange)="checkdate($event)"
                                    formControlName="application_start_date"
                                    [ngClass]="{errmsg: !program.controls['application_start_date'].valid && submitted}"
                                    required />
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Program registration end date:</label>
                                <input [disabled]="!program.controls['start_date'].valid || !program.controls['end_date'].valid " class="form-control" type="date" name="application_end_date" (ngModelChange)="checkdate1($event)"
                                    formControlName="application_end_date"
                                    [ngClass]="{errmsg: !program.controls['application_end_date'].valid && submitted}"
                                    required />
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Assign Role-->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="height:60px;">Role assign
                            <!-- <button class="btn btn-success pull-right">Create Program location</button> -->
                        </div>
                        <div class="panel-body">
                            <div class="col-md-4 form-group">
                                <label for="sel1">Select program Admin:</label>
                                <select class="form-control" id="sel1" formControlName="program_admin"
                                    [ngClass]="{errmsg: !program.controls['program_admin'].valid && submitted}">
                                    <option [value]=" "> </option>
                                    <option *ngFor="let program_admin of datas.users.program_admin"
                                        [value]="program_admin.id">{{program_admin.full_name}}</option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="sel1">Select program Director:</label>
                                <select class="form-control" id="sel1" formControlName="program_director"
                                    [ngClass]="{errmsg: !program.controls['program_director'].valid && submitted}">
                                    <option [value]=" "></option>
                                    <option *ngFor="let program_director of datas.users.program_director"
                                        [value]="program_director.id">{{program_director.full_name}}</option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="sel1">Select Application manager:</label>
                                <select class="form-control" id="sel1" formControlName="application_manager"
                                    [ngClass]="{errmsg: !program.controls['application_manager'].valid && submitted}">
                                    <option [value]=" "></option>
                                    <option *ngFor="let application_manager of datas.users.application_manager"
                                        [value]="application_manager.id">{{application_manager.full_name}}</option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="sel1">Select contract manager:</label>
                                <select class="form-control" id="sel1" formControlName="contract_manager"
                                    [ngClass]="{errmsg: !program.controls['contract_manager'].valid && submitted}"
                                    required>
                                    <option [value]=" "> </option>
                                    <option *ngFor="let contract_manager of datas.users.contract_manager"
                                        [value]="contract_manager.id">{{contract_manager.full_name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-floppy-saved"></i>
                    {{!program.value.id? 'Save':'Update'}}</button>
                <p style="color:red;" *ngIf="!program.controls.valid && submitted">Please fill up the following fields
                </p>
            </div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label>Questions in Program</label>

                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>

                                        <th>Question</th>
                                        <th>Actions</th>



                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of programquestions;let i = index" style="cursor: pointer; ">

                                        <td>{{item.question}}</td>

                                        <td><button class="btn btn-danger" type="button"
                                                (click)="deleteappques(item,i)"><i
                                                    class="glyphicon glyphicon-trash"></i> Remove</button></td>




                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label>List of Questions</label>

                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>Question</th>




                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let startup of displayallques;let i = index" style="cursor: pointer; ">
                                        <td><input class="checkbox" type="checkbox"
                                                (change)="setvalues($event.target.checked,startup)"></td>
                                        <td>{{startup.question}}</td>





                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-success" type="button" (click)="updateApplicationQuestions()"><i
                                    class="glyphicon glyphicon-floppy-saved"></i> Update
                                Program Questions</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--   <div class="col-md-12" formArrayName="application_questions" *ngIf="hideArrayControl">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Program registration questions
                    </div>
                    <div class="panel-body">
                        <div class="row" *ngFor="let app_ques of program.controls.application_questions.controls; let i = index">
                            <div class="col-md-12" >
                                <input type="checkbox"  [formControlName]="i">
                                <b>Questions: </b>
                                <span>{{datas.application_questions[i].question}}</span>
                              </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-12" *ngIf="allQuestions">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Available Questions
                    </div>
                    <div class="panel-body">
                        <div class="row" *ngFor="let app_ques of allQuestions; let i = index">
                            <div class="col-md-12" >
                                <input type="checkbox"  [formControlName]="i">
                                <b>Questions: </b>
                                <span>{{datas.application_questions[i].question}}</span>
                              </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </form>
    </div>



    <!--Model for new program type-->
    <!-- Modal -->
    <div class="modal fade" id="programTypeModel" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>This is a large modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Review and Submit Program -->
    <!--Modal -->
    <div class="modal fade" id="reviewAndSubmitModel" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Review and submit</h4>
                </div>
                <div class="modal-body" *ngIf="showReviewAndSubmit">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="page-heading">Program Type</h3>
                            <div class="col-md-4">
                                <label>Title:</label>
                                <p>{{reviewAndSubmit.program_type.program_type_title}}</p>
                            </div>
                            <div class="col-md-4">
                                <label>Description:</label>
                                <p>{{reviewAndSubmit.program_type.program_type_description}}</p>
                            </div>
                            <div class="col-md-4">
                                <label>Duration:</label>
                                <p>{{reviewAndSubmit.program_type.program_type_duration}}</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h3 class="page-heading">Program Location</h3>
                            <div class="col-md-3">
                                <label>Address line 1:</label>
                                <p>{{reviewAndSubmit.program_location.address_line_1}}</p>
                            </div>
                            <div class="col-md-3">
                                <label>Address line 2:</label>
                                <p>{{reviewAndSubmit.program_location.address_line_2}}</p>
                            </div>
                            <div class="col-md-3">
                                <label>City:</label>
                                <p>{{reviewAndSubmit.program_location.city}}</p>
                            </div>
                            <div class="col-md-3">
                                <label>State:</label>
                                <p>{{reviewAndSubmit.program_location.state_province_region}}</p>
                            </div>
                            <div class="col-md-3">
                                <label>Country: </label>
                                <p>{{reviewAndSubmit.program_location.country}}</p>
                            </div>
                            <div class="col-md-3">
                                <label>Pincode or Zip: </label>
                                <p>{{reviewAndSubmit.program_location.zip_pincode_postalcode}}</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h3 class="page-heading">Framework</h3>

                            <div class="col-md-4">
                                <label>Title: </label>
                                <p>{{reviewAndSubmit.framework.title}}</p>
                            </div>
                            <div class="col-md-4">
                                <label>Description: </label>
                                <p>{{reviewAndSubmit.framework.description}}</p>
                            </div>
                            <div class="col-md-4">
                                <label>Level: </label>
                                <p>{{reviewAndSubmit.framework.level}}</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h3 class="page-heading">Program Details</h3>
                            <div class="col-md-3">
                                <label>Title: </label>
                                <p [innerHTML]="reviewAndSubmit.program_details.title"></p>
                            </div>
                            <div class="col-md-3">
                                <label>Description: </label>
                                <p [innerHTML]="reviewAndSubmit.program_details.description"></p>
                            </div>
                            <div class="col-md-3">
                                <label>Start date:</label>
                                <p>{{reviewAndSubmit.program_details.start_date}}</p>
                            </div>
                            <div class="col-md-3">
                                <label>End date: </label>
                                <p>{{reviewAndSubmit.program_details.end_date}}</p>
                            </div>
                            <div class="col-md-3">
                                <label>Seat size: </label>
                                <p>{{reviewAndSubmit.program_details.seat_size}}</p>
                            </div>
                            <div class="col-md-3">
                                <label>Industry:</label>
                                <p>{{reviewAndSubmit.program_details.industry}}</p>
                            </div>
                            <div class="col-md-3">
                                <label>Main Image: </label>
                                <p>{{reviewAndSubmit.program_details.main_image}}</p>
                            </div>
                           
                            <div class="col-md-3">
                                <label>Application start date: </label>
                                <p>{{reviewAndSubmit.program_details.application_start_date}}</p>
                            </div>
                            <div class="col-md-3">
                                <label>Application end date: </label>
                                <p>{{reviewAndSubmit.program_details.application_end_date}}</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h2 class="page-heading">Program Administrators</h2>
                            <div class="col-md-3">
                                <label>Program admin: </label>
                                <p>{{reviewAndSubmit.program_admin.full_name}}</p>
                            </div>
                            <div class="col-md-3">
                                <label>Program Director: </label>
                                <p>{{reviewAndSubmit.program_director.full_name}}</p>
                            </div>
                            <div class="col-md-3">
                                <label>Application Manager: </label>
                                <p>{{reviewAndSubmit.application_manager.full_name}}</p>
                            </div>
                            <div class="col-md-3">
                                <label>Contract Manager: </label>
                                <p>{{reviewAndSubmit.contract_manager.full_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h2 class="page-heading">Application registration questions</h2>
                            <div class="col-md-12"
                                *ngFor="let app_que of reviewAndSubmit.application_questions; let i = index">
                                <label>Question No: {{i + 1}} </label>
                                <p>{{app_que.question}}</p>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-success" (click)="onSubmitProgramForms()"><i
                                    class="glyphicon-floppy-saved"></i> Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal -->
</div>